#menu ul {
    list-style-type: none;
    background-color:#2e2e30;
    text-align: center;
}

#menu ul li {
    columns: blue;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -10px;
}

#menu ul li a {
    color: yellow;
    text-decoration: none;
    display: block;
}
#menu ul li a:hover{
    background-color: blue;
}
#content {
    width: auto;
    padding: auto;
    text-align: center;
    margin-top: 0;
    background-color: lightblue;
    
}
body {
    border-style: groove;
    width: 960px;
    float: left;
    padding:0 20% 0 20%;
}

img.cangiua {display: block; margin-left: auto; margin-right: auto;}
footer { 
    display: block;
}


