*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media only screen and (min-width: 1200px){

    /*Navbar*/
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
        
    }
    .container-nav{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }
    header{
        background-color: #333;
    }
    .navbar{
        width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
        background-color: #333 !important;

    }
    .navbar-nav{
        max-width: 300px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 17px;
        max-width: 123px;
        width: 100%;
    }
    
    .icon i {
        margin-left: 1rem;
    }
    .icon a i {
        color: #fff;
    }
    .fa-search:focus{
        width: 100%;
    }
    .logo{
        margin-top: 7px;
        max-width: 45px;
        height: 65px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 1.3rem;
    }
    .slogan1{
        font-size: 27px;
        margin-bottom: 0.6rem;
    }
    .slogan2{
        font-size: 14px;
        
    }
    /*carousel*/
    #carouselExampleControls{
        position: relative;
    }
    .carousel-item img{
        height: 500px;
    }
    .title{
        position: absolute;
        top: 40%;
        left: 50%;
    }
    .subtitle1{
        color: #fff;
        font-size: 9px;
        background-color: black;
        max-width: 8rem;
        height: 20px;
        text-align: center;
        line-height: 20px;
        letter-spacing: 2px;
        margin-left: -2rem;
    }
    .subtitle2{

        color: #fff;
        font-size: 34px;
        background-color: #333;
        max-width: 40rem;
        
        height: 100px;
        text-align: center;
        line-height: 100px;
        margin-left: -57%;
        opacity: 0.8;
        margin-top: -4px;
    }
    /*Pagination*/
    .pagination{
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    #link1{
        background-color: #D5A770;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    #link2{
        background-color: #C4C4C4;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    .page-link{
        max-width: 30px;
        width: 100%;
        height: 30px;
        
    }
    .page-item{
        max-width: 70px;
        width: 100%;
    }
    .page-item:last-child .page-link{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-radius: 30px;
    }
    .page-item:first-child .page-link{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-radius: 30px;
    }
    /*footer*/
    .container-footer{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        padding-left: 1.3rem;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
        text-decoration: none;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
    }
    .fa-instagram:before{
        color: #919294;
    }
    .fa-twitter-square:before{
        color: #919294;
    }
    /*main*/
    .container{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        
    }
    .son1-content{
        margin-top: 50px;
    }
    .son2-content{
        margin-top: 30px;
    }
    .parent1-magazine a{
        text-decoration: none;
    }
    .parent2-magazine a{
        text-decoration: none;
    }
    .parent1-magazine{
        display: flex;
    }
    .parent1-magazine img{
        max-width: 220px;
        width: 100%;
        height: 261px;
    }
    .parent2-magazine{
        display: flex;
    }
    .parent2-magazine img{
        max-width: 220px;
        width: 100%;
        height: 261px;
    }
    .son1-magazine{
        
        height: 261px;
        background: rgba(196, 196, 196, 0.5);
        padding: 27px;
    }
    .date{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 13px;
        


        color: rgba(0, 0, 0, 0.6);

    }
    .title-magazine{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;


        color: #000000;
        margin-top: 0.5625rem;

    }
    .content1-magazine{
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 1.063rem;
    }

    .parentTitle-magazine{
        text-align: center;
        font-size: 40px;
        margin-top: 5rem;
    }
    
    .mode-pagination{
        display: flex;
        justify-content: center;
        padding-top: 7rem;
        padding-bottom: 13rem;
    }
    .page-item .link1{
        background: #D5A770;

    }
    
}

@media only screen and (min-width: 992px) and (max-width:1199px){
    /*Navbar*/
    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    .container-nav{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }
    header{
        background-color: #333;
    }
    .navbar{
        background-color: #333 !important;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
        
    }
    .navbar-nav{
        max-width: 300px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-right: 4rem;
    }
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 16px;
    }
    .icon i {
        margin-left: 1rem;
    }
    .icon a i {
        color: #fff;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 40px;
        height: 68px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 1.3rem;
    }
    .slogan1{
        font-size: 27px;
    }
    .slogan2{
        font-size: 17px;
    }
    /*carousel*/
    #carouselExampleControls{
        position: relative;
    }
    .carousel-item img{
        height: 500px;
    }
    .title{
        position: absolute;
        top: 35%;
        left: 50%;
    }
    .subtitle1{
        color: #fff;
        font-size: 9px;
        background-color: black;
        max-width: 8rem;
        height: 20px;
        text-align: center;
        line-height: 20px;
        letter-spacing: 2px;
        margin-left: -2rem;
    }
    .subtitle2{

        color: #fff;
        font-size: 34px;
        background-color: #333;
        max-width: 40rem;
        
        height: 100px;
        text-align: center;
        line-height: 100px;
        margin-left: -57%;
        opacity: 0.8;
        margin-top: -4px;
    }
    /*Pagination*/
    .pagination{
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    #link1{
        background-color: #D5A770;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    #link2{
        background-color: #C4C4C4;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    .page-link{
        max-width: 30px;
        width: 100%;
        height: 30px;
        
    }
    .page-item{
        max-width: 70px;
        width: 100%;
    }
    .page-item:last-child .page-link{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-radius: 30px;
    }
    .page-item:first-child .page-link{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-radius: 30px;
    }
    /*footer*/
    .container-footer{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding-left: 1.3rem;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
    }
    .fa-instagram:before{
        color: #919294;
    }
    .fa-twitter-square:before{
        color: #919294;
    }
    /*main*/
    .container{
        max-width: 1170px;
        margin: 0 auto;
        
    }
    .son1-content{
        margin-top: 50px;
    }
    .son2-content{
        margin-top: 30px;
    }
    .parent1-magazine{
        display: flex;
    }
    .parent1-magazine img{
        max-width: 220px;
        width: 100%;
        height: 280px;
    }
    .parent2-magazine{
        display: flex;
    }
    .parent2-magazine img{
        max-width: 220px;
        width: 100%;
        height: 280px;
    }
    .son1-magazine{
        
        height: 280px;
        background: rgba(196, 196, 196, 0.5);
        padding: 27px;
    }
    .date{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
        color: rgba(0, 0, 0, 0.6);

    }
    .title-magazine{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        margin-top: 0.5625rem;

    }
    .content1-magazine{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 1.063rem;
        letter-spacing: 1px;
    }

    .parentTitle-magazine{
        text-align: center;
        font-size: 40px;
        margin-top: 5rem;
    }
    .mode-pagination{
        display: flex;
        justify-content: center;
        padding-top: 7rem;
        padding-bottom: 13rem;
    }
    .page-item .link1{
        background: #D5A770;

    }
    
}

@media only screen and (min-width: 768px) and (max-width:991px){
    /*Navbar*/
    
    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
        overflow: hidden;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
    }
    header{
        background-color: #333;
    }
    #navbarNav{
        background-color: #333;
        margin-top: -2rem;
    }
    .navbar-nav{
        padding-left: 2rem;
        padding-top: 2rem;
        line-height: 4rem;
    }

    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .navbar-toggler{
        background-color: #fff;
    }
    .navbar-light .navbar-toggler{
        margin-right: 2.3rem;
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
        
    }
    .logo{
        
        margin-top: 7px;
        max-width: 50px;
        height: 79px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 2.3rem;
    }
    .slogan1{
        font-size: 27px;
    }
    .slogan2{
        font-size: 17px;
    }
    /*carousel*/
    #carouselExampleControls{
        position: relative;
    }
    .carousel-item img{
        height: 500px;
    }
    .title{
        position: absolute;
        top: 40%;
        left: 50%;
    }
    .subtitle1{
        color: #fff;
        font-size: 9px;
        background-color: black;
        max-width: 8rem;
        height: 20px;
        text-align: center;
        line-height: 20px;
        letter-spacing: 2px;
        margin-left: -2rem;
    }
    .subtitle2{
        color: #fff;
        font-size: 24px;
        background-color: #333;
        max-width: 28rem;
        height: 70px;
        text-align: center;
        line-height: 70px;
        margin-left: -57%;
        opacity: 0.8;
        margin-top: -4px;
    }
    /*Pagination*/
    .pagination{
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    #link1{
        background-color: #D5A770;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    #link2{
        background-color: #C4C4C4;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    .page-link{
        max-width: 30px;
        width: 100%;
        height: 30px;
        
    }
    .page-item{
        max-width: 70px;
        width: 100%;
    }
    .page-item:last-child .page-link{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-radius: 30px;
    }
    .page-item:first-child .page-link{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-radius: 30px;
    }
    /*footer*/
    .container-footer{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        padding-left: 1.1rem;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
    }
    .fa-instagram:before{
        color: #919294;
    }
    .fa-twitter-square:before{
        color: #919294;
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
        
    }
    .son1-content{
        margin-top: 50px;
    }
    .son2-content{
        margin-top: 30px;
    }
    .parent1-magazine{
        display: flex;
    }
    .parent1-magazine img{
        max-width: 200px;
        width: 100%;
        height: 261px;
    }
    .parent2-magazine{
        display: flex;
    }
    .parent2-magazine img{
        max-width: 220px;
        width: 100%;
        height: 261px;
    }
    .son1-magazine{
        
        height: 261px;
        background: rgba(196, 196, 196, 0.5);
        padding: 14px;
    }
    .date{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 13px;
        /* identical to box height */


        color: rgba(0, 0, 0, 0.6);

    }
    .title-magazine{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        margin-top: 0.5625rem;
    }
    .content1-magazine{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 1.063rem;
    }

    .parentTitle-magazine{
        text-align: center;
        font-size: 40px;
        margin-top: 5rem;
    }
    .mode-pagination{
        display: flex;
        justify-content: center;
        padding-top: 7rem;
        padding-bottom: 13rem;
    }
    .page-item .link1{
        background: #D5A770;

    }
    
}

@media only screen and (min-width: 576px) and (max-width:767px){
    /*Navbar*/
    .container-fluid{
        padding-right: 0px !important;
        padding-left: 0px !important;
        overflow: hidden;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
        
    }

    #navbarNav{
        background-color: #333;
        margin-top: -1rem;
    }
    .navbar-nav{
        padding-left: 2rem;
        padding-top: 2rem;
        line-height: 4rem;
    }
    
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .navbar-toggler{
        background-color: #fff;
    }
    .navbar-light .navbar-toggler{
        margin-right: 1.6rem;
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 35px;
        height: 60px;

        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 2.4rem;
    }
    .slogan1{
        font-size: 22px;
    }
    .slogan2{
        font-size: 15px;
    }
    /*carousel*/
    #carouselExampleControls{
        position: relative;
    }
    .carousel-item img{
        height: 300px;
    }
    .title{
        position: absolute;
        top: 32%;
        left: 48%; 
    }
    .subtitle1{
        color: #fff;
        font-size: 9px;
        background-color: black;
        max-width: 8rem;
        height: 20px;
        text-align: center;
        line-height: 20px;
        letter-spacing: 2px;
        margin-left: -2rem;
    }
    .subtitle2{
        color: #fff;
        font-size: 24px;
        background-color: #333;
        max-width: 30rem;
        height: 70px;
        text-align: center;
        line-height: 70px;
        margin-left: -57%;
        opacity: 0.8;
        margin-top: -4px;
    }
    /*Pagination*/
    .pagination{
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    #link1{
        background-color: #D5A770;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    #link2{
        background-color: #C4C4C4;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    .page-link{
        max-width: 30px;
        width: 100%;
        height: 30px;
        
    }
    .page-item{
        max-width: 70px;
        width: 100%;
    }
    .page-item:last-child .page-link{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-radius: 30px;
    }
    .page-item:first-child .page-link{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-radius: 30px;
    }
    /*footer*/
    .container-footer{
        padding-left: 1rem;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
        text-decoration: none;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
    }
    .fa-instagram:before{
        color: #919294;
    }
    .fa-twitter-square:before{
        color: #919294;
    }
    /*main*/
    .container{
        max-width: 1200px;
        margin: 0 auto;
        
    }
    .son1-content{
        margin-top: 50px;
    }
    .son2-content{
        margin-top: 30px;
    }
    .parent1-magazine{
        display: flex;
    }
    .parent1-magazine img{
        max-width: 200px;
        width: 100%;
        height: 261px;
    }
    .parent2-magazine{
        display: flex;
        margin-top: 3rem;
    }
    .parent2-magazine img{
        max-width: 200px;
        width: 100%;
        height: 261px;
    }
    .son1-magazine{
        
        height: 261px;
        background: rgba(196, 196, 196, 0.5);
        padding: 27px;
    }
    .date{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 13px;
        /* identical to box height */


        color: rgba(0, 0, 0, 0.6);

    }
    .title-magazine{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        /* identical to box height */


        color: #000000;
        margin-top: 0.5625rem;

    }
    .content1-magazine{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 1.063rem;
    }

    .parentTitle-magazine{
        text-align: center;
        font-size: 40px;
        margin-top: 5rem;
    }
    .mode-pagination{
        display: flex;
        justify-content: center;
        padding-top: 7rem;
        padding-bottom: 13rem;
    }
    .page-item .link1{
        background: #D5A770;

    }
    
}

@media only screen and (min-width: 320px) and (max-width:575px){
    /*Navbar*/
    
    .container-fluid{
        padding-right: 0px !important;
        padding-left: 0px !important;
        overflow: hidden;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
    }

    #navbarNav {
        background-color: #333;
        margin-top: -1rem;
    }
    .navbar-nav{
        padding-left: 3.3rem;
        padding-top: 2rem;
        line-height: 4rem;
        padding-bottom: 2rem;
    }
    
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
    }
    .navbar-toggler{
        background-color: #fff;
    }
    .navbar-light .navbar-toggler{
        margin-right: 1rem;
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 35px;
        height: 65px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 2.3rem;
    }
    .slogan1{
        font-size: 25px;
    }
    .slogan2{
        font-size: 15px;
    }
    /*carousel*/
    
    #carouselExampleControls{
        position: relative;
    }
    .carousel-item img{
        height: 200px;
    }
    .title{
        position: absolute;
        top: 30%;
        left: 49%;
        
    }
    .subtitle1{
        color: #fff;
        font-size: 7px;
        background-color: black;
        max-width: 7rem;
        height: 16px;
        text-align: center;
        line-height: 16px;
        letter-spacing: 2px;
        margin-left: -2.8rem;
    }
    .subtitle2{
        color: #fff;
        font-size: 16px;
        background-color: #333;
        max-width: 18rem;
        height: 55px;
        text-align: center;
        line-height: 55px;
        margin-left: -57%;
        opacity: 0.8;
        margin-top: -3px;
    }
    /*Pagination*/
    .pagination{
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        padding-left: 5rem;
        padding-bottom: 5rem;
    }
    #link1{
        background-color: #D5A770;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    #link2{
        background-color: #C4C4C4;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    .page-link{
        max-width: 30px;
        width: 100%;
        height: 30px;
        
    }
    .page-item{
        max-width: 70px;
        width: 100%;
    }
    .page-item:last-child .page-link{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-radius: 30px;
    }
    .page-item:first-child .page-link{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-radius: 30px;
    }
    /*footer*/
    .container-footer{
        max-width: 575px;
        width: 100%;
        margin: 0 auto;
        padding-left: 1.3rem;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
    }
    .fa-instagram:before{
        color: #919294;
    }
    .fa-twitter-square:before{
        color: #919294;
    }
    /*main*/
    .container{
        max-width: 1200px;
        margin: 0 auto;
        
    }
    .son1-content{
        margin-top: 50px;
    }
    .son2-content{
        margin-top: 30px;
    }
    .parent1-magazine{
        display: flex;
    }
    .parent1-magazine img{
        max-width: 180px;
        width: 100%;
        height: 275px;
    }
    .parent2-magazine{
        display: flex;
        margin-top: 3rem;
    }
    .parent2-magazine img{
        max-width: 180px;
        width: 100%;
        height: 275px;
    }
    .son1-magazine{
        
        height: 275px;
        background: rgba(196, 196, 196, 0.5);
        padding: 10px;
    }
    .date{
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 13px;
        /* identical to box height */


        color: rgba(0, 0, 0, 0.6);

    }
    .title-magazine{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        margin-top: 0.5625rem;
    }
    .content1-magazine{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 1.063rem;
    }

    .parentTitle-magazine{
        text-align: center;
        font-size: 40px;
        margin-top: 5rem;
    }
    .mode-pagination{
        display: flex;
        justify-content: center;
        padding-top: 7rem;
        padding-bottom: 13rem;
    }
    .page-item .link1{
        background: #D5A770;

    }
}