*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media only screen and (min-width: 1200px){
    /*Navbar*/
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
        
    }
    .container-nav{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }
    header{
        background-color: #333;
    }
    .navbar{
        width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
        background-color: #333 !important;

    }
    .navbar-nav{
        max-width: 300px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 17px;
        max-width: 123px;
        width: 100%;
    }
    
    .icon i {
        margin-left: 1rem;
    }
    .icon a i {
        color: #fff;
    }
    .fa-search:focus{
        width: 100%;
    }
    .logo{
        margin-top: 7px;
        max-width: 45px;
        height: 65px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 1.3rem;
    }
    .slogan1{
        font-size: 27px;
        margin-bottom: 0.6rem;
    }
    .slogan2{
        font-size: 14px;
        
    }
    /*main*/
    .container{
        max-width: 1170px;
        width: 100%;
    }
    .content{
        padding-top: 11rem;
        background: rgba(196, 196, 196, 0.2);
    }
    .son1Content{
        background-color: #fff;
        margin-top: 4rem;
        padding-bottom: 10rem;
        margin-bottom: 10rem;
    }
    .children1Content{
        padding-left: 4rem;
        padding-top: 4rem;
    }
    .title1Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;

        color: #000000;
    }
    .title2son1Content{
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .numberStep{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        max-width: 55px;
        width: 100%;
        height: 55px;
        color: #FFFFFF;
        background: #D5A770;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sontitle2Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
        padding-left: 5rem;
    }
    #Email1{
        display: flex;
        padding-top: 2rem;
        align-items: center;
    }
    .inputEmail{
        padding-left: 4rem;
    }
    .inputLastname{
        padding-left: 4rem;
    }
    .inputFirstname{
        padding-left: 4rem;
    }
    .inputPhonenumber{
        padding-left: 4rem;
    }
    .inputAddress{
        padding-left: 4rem;
    }
    .son1Email, .son1Lastname, .son1Firstname, .son1Phonenumber, .son1Address{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        color: #000000;
        max-width: 100px;
        width: 100%;
    }
    .line1{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        margin-top: 7rem;
    }
    .title3son1Content{
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .children2Content{
        padding-left: 4rem;
        padding-top: 3rem;
    }
    .form-check-label{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        height: 16px;
        color: #000000;
        padding-left: 4rem;
    }
    .form-control{
        height: 40px;
        width: 250px;
    }
    .line2{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        margin-top: 7rem;
    }
    .completePay{
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        max-width: 136px;
        height: 52px;
        line-height: 52px;
        background: #D5A770;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        margin-left: 4rem;
        margin-top: 4rem;
    }

    .completePay a:hover{
        color: #fff;
        text-decoration: none;
    }
    .completePay a{
        color: #fff;
    }
    .completePay:hover {
        -webkit-animation: completePay 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: completePay 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes completePay {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    @keyframes completePay {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    .son2Content{
        background: #FFFFFF;
        margin-top: 4rem;
    }
    .title4son1Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .image img{
        max-width: 130px;
        width: 100%;
        height: 170px;
    }
    .fatheritem1{
        display: flex;
        justify-content: space-evenly;
    }
    
    .informationItem1{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
        line-height: 2;
    }
    .namePicture{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        padding-bottom: 1rem;
    }
    .nameArtist, .sizePicture, .yearPicture, .pricePicture{
        font-size: 14px;
    }
    .ClearPicture {
        
        cursor: pointer;
        background: #D5A770;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        border: none;
        
    }
    .item1{
        padding-bottom: 3rem;
    }
    .line3{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        
    }
    .son2Pricetotal{
        max-width: 200px;
        width: 100%;
    }
    .priceTotal{
        display: flex;
        justify-content: space-between;
        margin-left: 4rem;
    }
    .total{
        margin-top: 4rem;
        padding-bottom: 5rem;
        line-height: 3;
        margin-bottom: 8rem;
    }
    .son1Pricetotal{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        
        color: #000000;
    }
    .son2Pricetotal{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        color: #000000;
        padding-left: 5rem;
    }
    /*sign-in*/
    .content3 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content3{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content3 img{
        width: 100%;
        
    }
    .parent-content3{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content3{
        
        font-size: 32px;
        color: #fff;
    }
    
    .son2-content3{
        margin-top: 35px;
    }
    #input{
        width: 505px;
    
        
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 50px;
    }
    .input-group-text{
        font-size: 16px;
    }
    /*footer*/
    .container-footer{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        padding-left: 1.3rem;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
        text-decoration: none;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
    }
    .fa-instagram:before{
        color: #919294;
    }
    .fa-twitter-square:before{
        color: #919294;
    }

}
@media only screen and (min-width: 992px) and (max-width:1199px){
    /*Navbar*/
    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    .container-nav{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }
    header{
        background-color: #333;
    }
    .navbar{
        background-color: #333 !important;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
        
    }
    .navbar-nav{
        max-width: 300px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-right: 4rem;
    }
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 16px;
    }
    .icon i {
        margin-left: 1rem;
    }
    .icon a i {
        color: #fff;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 40px;
        height: 68px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 1.3rem;
    }
    .slogan1{
        font-size: 27px;
    }
    .slogan2{
        font-size: 17px;
    }
    /*main*/
    .container{
        max-width: 1170px;
        width: 100%;
    }
    .content{
        padding-top: 11rem;
        background: rgba(196, 196, 196, 0.2);
    }
    .son1Content{
        background-color: #fff;
        margin-top: 4rem;
        padding-bottom: 10rem;
        margin-bottom: 10rem;
    }
    .children1Content{
        padding-left: 4rem;
        padding-top: 4rem;
    }
    .title1Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;

        color: #000000;
    }
    .title2son1Content{
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .numberStep{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        max-width: 55px;
        width: 100%;
        height: 55px;
        color: #FFFFFF;
        background: #D5A770;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sontitle2Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
        padding-left: 5rem;
    }
    #Email1{
        display: flex;
        padding-top: 2rem;
        align-items: center;
    }
    .inputEmail{
        padding-left: 4rem;
    }
    .inputLastname{
        padding-left: 4rem;
    }
    .inputFirstname{
        padding-left: 4rem;
    }
    .inputPhonenumber{
        padding-left: 4rem;
    }
    .inputAddress{
        padding-left: 4rem;
    }
    .son1Email, .son1Lastname, .son1Firstname, .son1Phonenumber, .son1Address{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        color: #000000;
        max-width: 100px;
        width: 100%;
    }
    .line1{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        margin-top: 7rem;
    }
    .title3son1Content{
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .children2Content{
        padding-left: 4rem;
        padding-top: 3rem;
    }
    .form-check-label{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        height: 16px;
        color: #000000;
        padding-left: 4rem;
    }
    .form-control{
        height: 40px;
        width: 250px;
    }
    .line2{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        margin-top: 7rem;
    }
    .completePay{
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        max-width: 136px;
        height: 52px;
        line-height: 52px;
        background: #D5A770;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        margin-left: 4rem;
        margin-top: 4rem;
    }

    .completePay a:hover{
        color: #fff;
        text-decoration: none;
    }
    .completePay a{
        color: #fff;
    }
    .completePay:hover {
        -webkit-animation: completePay 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: completePay 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes completePay {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    @keyframes completePay {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    .son2Content{
        background: #FFFFFF;
        margin-top: 4rem;
    }
    .title4son1Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .image img{
        max-width: 130px;
        width: 100%;
        height: 170px;
    }
    .fatheritem1{
        display: flex;
        justify-content: space-evenly;
    }
    
    .informationItem1{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #000000;
        line-height: 2;
    }
    .namePicture{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        padding-bottom: 1rem;
    }

    .ClearPicture {
        
        cursor: pointer;
        background: #D5A770;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        border: none;
        
    }
    .item1{
        padding-bottom: 3rem;
    }
    .line3{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        
    }
    .son2Pricetotal{
        max-width: 200px;
        width: 100%;
    }
    .priceTotal{
        display: flex;
        justify-content: space-between;
        margin-left: 4rem;
    }
    .total{
        margin-top: 4rem;
        padding-bottom: 5rem;
        line-height: 3;
        margin-bottom: 8rem;
    }
    .son1Pricetotal{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #000000;
        max-width: 140px;
        width: 100%;
    }
    .son2Pricetotal{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        color: #000000;
        padding-left: 5rem;
    }
    /*sign-in*/
    .content3 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content3{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content3 img{
        width: 100%;
    }
    .parent-content3{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content3{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content3{
        margin-top: 35px;
    }
    #input{
        width: 505px;
    
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    .input-group-text{
        font-size: 15px;
    }
    /*footer*/
    .container-footer{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding-left: 1.3rem;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
        text-decoration: none;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
    }
    .fa-instagram:before{
        color: #919294;
    }
    .fa-twitter-square:before{
        color: #919294;
    }
}
@media only screen and (min-width: 768px) and (max-width:991px){
    /*Navbar*/
    
    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
        overflow: hidden;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
    }
    header{
        background-color: #333;
    }
    #navbarNav{
        background-color: #333;
        margin-top: -2rem;
    }
    .navbar-nav{
        padding-left: 2rem;
        padding-top: 2rem;
        line-height: 4rem;
    }

    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .navbar-toggler{
        background-color: #fff;
    }
    .navbar-light .navbar-toggler{
        margin-right: 2.3rem;
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
        
    }
    .logo{
        
        margin-top: 7px;
        max-width: 50px;
        height: 79px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 2.3rem;
    }
    .slogan1{
        font-size: 27px;
    }
    .slogan2{
        font-size: 17px;
    }
    /*main*/
    .container{
        max-width: 1170px;
        width: 100%;
    }
    .content{
        padding-top: 5rem;
        background: rgba(196, 196, 196, 0.2);
    }
    .son1Content{
        background-color: #fff;
        margin-top: 4rem;
        padding-bottom: 10rem;
        margin-bottom: 5rem;
    }
    .children1Content{
        padding-left: 4rem;
        padding-top: 4rem;
    }
    .title1Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;

        color: #000000;
    }
    .title2son1Content{
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .numberStep{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        max-width: 55px;
        width: 100%;
        height: 55px;
        color: #FFFFFF;
        background: #D5A770;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sontitle2Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
        padding-left: 5rem;
    }
    #Email1{
        display: flex;
        padding-top: 2rem;
        align-items: center;
    }
    .inputEmail{
        padding-left: 4rem;
    }
    .inputLastname{
        padding-left: 4rem;
    }
    .inputFirstname{
        padding-left: 4rem;
    }
    .inputPhonenumber{
        padding-left: 4rem;
    }
    .inputAddress{
        padding-left: 4rem;
    }
    .son1Email, .son1Lastname, .son1Firstname, .son1Phonenumber, .son1Address{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #000000;
        max-width: 100px;
        width: 100%;
    }
    .line1{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        margin-top: 7rem;
    }
    .title3son1Content{
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .children2Content{
        padding-left: 4rem;
        padding-top: 3rem;
    }
    .form-check-label{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        height: 16px;
        color: #000000;
        padding-left: 4rem;
    }
    .form-control{
        height: 40px;
        width: 250px;
    }
    .line2{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        margin-top: 7rem;
    }
    .completePay{
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        max-width: 136px;
        height: 52px;
        line-height: 52px;
        background: #D5A770;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        margin-left: 4rem;
        margin-top: 4rem;
    }

    .completePay a:hover{
        color: #fff;
        text-decoration: none;
    }
    .completePay a{
        color: #fff;
    }
    .completePay:hover {
        -webkit-animation: completePay 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: completePay 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes completePay {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    @keyframes completePay {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    .son2Content{
        background: #FFFFFF;
    }
    .title4son1Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .image img{
        max-width: 130px;
        width: 100%;
        height: 170px;
    }
    .fatheritem1{
        display: flex;
        justify-content: space-evenly;
    }
    
    .informationItem1{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #000000;
        line-height: 2;
    }
    .namePicture{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        padding-bottom: 1rem;
    }

    .ClearPicture {
        
        cursor: pointer;
        background: #D5A770;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        border: none;
        
    }
    .item1{
        padding-bottom: 3rem;
    }
    .line3{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        
    }
    .son2Pricetotal{
        max-width: 200px;
        width: 100%;
    }
    .priceTotal{
        display: flex;
        justify-content: space-between;
        margin-left: 4rem;
    }
    .total{
        margin-top: 4rem;
        padding-bottom: 5rem;
        line-height: 3;
        margin-bottom: 5rem;
    }
    .son1Pricetotal{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        
        color: #000000;
    }
    .son2Pricetotal{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        color: #000000;
        padding-left: 5rem;
    }
    /*sign-in*/
    .content3 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content3{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content3 img{
        width: 100%;
    }
    .parent-content3{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content3{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content3{
        margin-top: 35px;
    }
    #input{
        width: 505px;
        margin: 0 auto;
        
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    #basic-addon2{
        font-size: 15px;
    }
    /*footer*/
    .container-footer{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        padding-left: 1.1rem;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
    }
    .fa-instagram:before{
        color: #919294;
    }
    .fa-twitter-square:before{
        color: #919294;
    }
}
@media only screen and (min-width: 576px) and (max-width:767px){
    /*Navbar*/
    .container-fluid{
        padding-right: 0px !important;
        padding-left: 0px !important;
        overflow: hidden;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
        
    }

    #navbarNav{
        background-color: #333;
        margin-top: -1rem;
    }
    .navbar-nav{
        padding-left: 2rem;
        padding-top: 2rem;
        line-height: 4rem;
    }
    
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .navbar-toggler{
        background-color: #fff;
    }
    .navbar-light .navbar-toggler{
        margin-right: 1.6rem;
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 35px;
        height: 60px;

        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 2.4rem;
    }
    .slogan1{
        font-size: 22px;
    }
    .slogan2{
        font-size: 15px;
    }

    /*main*/
    .container{
        max-width: 1170px;
        width: 100%;
    }
    .content{
        padding-top: 5rem;
        background: rgba(196, 196, 196, 0.2);
    }
    .son1Content{
        background-color: #fff;
        margin-top: 4rem;
        padding-bottom: 10rem;
        margin-bottom: 5rem;
    }
    .children1Content{
        padding-left: 4rem;
        padding-top: 4rem;
    }
    .title1Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;

        color: #000000;
    }
    .title2son1Content{
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .numberStep{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        max-width: 55px;
        width: 100%;
        height: 55px;
        color: #FFFFFF;
        background: #D5A770;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sontitle2Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
        padding-left: 5rem;
    }
    #Email1{
        display: flex;
        padding-top: 2rem;
        align-items: center;
    }
    .inputEmail{
        padding-left: 4rem;
    }
    .inputLastname{
        padding-left: 4rem;
    }
    .inputFirstname{
        padding-left: 4rem;
    }
    .inputPhonenumber{
        padding-left: 4rem;
    }
    .inputAddress{
        padding-left: 4rem;
    }
    .son1Email, .son1Lastname, .son1Firstname, .son1Phonenumber, .son1Address{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #000000;
        max-width: 100px;
        width: 100%;
    }
    .line1{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        margin-top: 7rem;
    }
    .title3son1Content{
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .children2Content{
        padding-left: 4rem;
        padding-top: 3rem;
    }
    .form-check-label{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        height: 16px;
        color: #000000;
        padding-left: 4rem;
    }
    .form-control{
        height: 40px;
        width: 250px;
    }
    .line2{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        margin-top: 7rem;
    }
    .completePay{
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        max-width: 136px;
        height: 52px;
        line-height: 52px;
        background: #D5A770;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        margin-left: 4rem;
        margin-top: 4rem;
    }

    .completePay a:hover{
        color: #fff;
        text-decoration: none;
    }
    .completePay a{
        color: #fff;
    }
    .completePay:hover {
        -webkit-animation: completePay 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: completePay 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes completePay {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    @keyframes completePay {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    .son2Content{
        background: #FFFFFF;
    }
    .title4son1Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .image img{
        max-width: 130px;
        width: 100%;
        height: 170px;
    }
    .fatheritem1{
        display: flex;
        justify-content: space-evenly;
    }
    
    .informationItem1{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #000000;
        line-height: 2;
    }
    .namePicture{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        padding-bottom: 1rem;
    }

    .ClearPicture {
        
        cursor: pointer;
        background: #D5A770;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        border: none;
        
    }
    .item1{
        padding-bottom: 3rem;
    }
    .line3{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        
    }
    .son2Pricetotal{
        max-width: 200px;
        width: 100%;
    }
    .priceTotal{
        display: flex;
        justify-content: space-between;
        margin-left: 4rem;
    }
    .total{
        margin-top: 4rem;
        padding-bottom: 5rem;
        line-height: 3;
        margin-bottom: 5rem;
    }
    .son1Pricetotal{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        
        color: #000000;
    }
    .son2Pricetotal{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #000000;
        padding-left: 5rem;
    }
    /*sign-in*/
    .content3 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content3{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content3 img{
        width: 100%;
    }
    .parent-content3{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content3{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content3{
        margin-top: 35px;
    }
    #input{
        width: 505px;
    
        
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    #basic-addon2{
        font-size: 15px;
    }
    /*footer*/
    .container-footer{
        padding-left: 1rem;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
        text-decoration: none;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
    }
    .fa-instagram:before{
        color: #919294;
    }
    .fa-twitter-square:before{
        color: #919294;
    }
}
@media only screen and (min-width: 320px) and (max-width:575px){
    /*Navbar*/
    
    .container-fluid{
        padding-right: 0px !important;
        padding-left: 0px !important;
        overflow: hidden;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
    }

    #navbarNav {
        background-color: #333;
        margin-top: -1rem;
    }
    .navbar-nav{
        padding-left: 3.3rem;
        padding-top: 2rem;
        line-height: 4rem;
        padding-bottom: 2rem;
    }
    
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
    }
    .navbar-toggler{
        background-color: #fff;
    }
    .navbar-light .navbar-toggler{
        margin-right: 1rem;
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 35px;
        height: 65px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 2.3rem;
    }
    .slogan1{
        font-size: 25px;
    }
    .slogan2{
        font-size: 15px;
    }
    /*main*/
    .container{
        max-width: 1170px;
        width: 100%;
    }
    .content{
        padding-top: 5rem;
        background: rgba(196, 196, 196, 0.2);
    }
    .son1Content{
        background-color: #fff;
        margin-top: 4rem;
        padding-bottom: 10rem;
        margin-bottom: 5rem;
    }
    .children1Content{
        padding-left: 1rem;
        padding-top: 2rem;
    }
    .title1Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;

        color: #000000;
    }
    .title2son1Content{
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .numberStep{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        max-width: 55px;
        width: 100%;
        height: 55px;
        color: #FFFFFF;
        background: #D5A770;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sontitle2Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
        padding-left: 2rem;
    }
    #Email1{
        display: flex;
        margin-top: 3rem;
        align-items: center;
    }
    .inputEmail{
        padding-left: 1rem;
    }
    .inputLastname{
        padding-left: 1rem;
    }
    .inputFirstname{
        padding-left: 1rem;
    }
    .inputPhonenumber{
        padding-left: 1rem;
    }
    .inputAddress{
        padding-left: 1rem;
    }
    .son1Email, .son1Lastname, .son1Firstname, .son1Phonenumber, .son1Address{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #000000;
        max-width: 100px;
        width: 100%;
    }
    .line1{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        margin-top: 7rem;
    }
    .title3son1Content{
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .children2Content{
        padding-left: 4rem;
        
    }
    .form-check-label{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        height: 16px;
        color: #000000;
        padding-left: 4rem;
    }
    .form-check{
        margin-top: 3rem;
    }
    .form-control{
        height: 40px;
        
    }
    .line2{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        margin-top: 7rem;
    }
    .completePay{
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        max-width: 136px;
        height: 52px;
        line-height: 52px;
        background: #D5A770;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        margin-left: 2rem;
        margin-top: 4rem;
    }

    .completePay a:hover{
        color: #fff;
        text-decoration: none;
    }
    .completePay a{
        color: #fff;
    }
    .completePay:hover {
        -webkit-animation: completePay 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: completePay 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes completePay {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    @keyframes completePay {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    .son2Content{
        background: #FFFFFF;
    }
    .title4son1Content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .image img{
        max-width: 130px;
        width: 100%;
        height: 170px;
    }
    .fatheritem1{
        display: flex;
        justify-content: space-evenly;
    }
    
    .informationItem1{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #000000;
        line-height: 2;
    }
    .namePicture{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        padding-bottom: 1rem;
    }

    .ClearPicture {
        
        cursor: pointer;
        background: #D5A770;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        border: none;
        
    }
    .item1{
        padding-bottom: 3rem;
    }
    .line3{
        width: 100%;
        height: 1px;
        left: 216px;
        top: 794px;
        background: #C4C4C4;
        
    }
    .son2Pricetotal{
        max-width: 200px;
        width: 100%;
    }
    .priceTotal{
        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
    }
    .total{
        margin-top: 4rem;
        padding-bottom: 5rem;
        line-height: 3;
        margin-bottom: 5rem;
    }
    .son1Pricetotal{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        color: #000000;
        max-width: 200px;
        width: 100%;
    }
    .son2Pricetotal{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        color: #000000;
        padding-left: 5rem;
    }
    /*sign-in*/
    
    .content3 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content3{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content3 img{
        width: 100%;
    }
    .parent-content3{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content3{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content3{
        margin-top: 35px;
    }
    #input{
        width: 300px;
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    #basic-addon2{
        font-size: 15px;
    }
    /*footer*/
    .container-footer{
        max-width: 575px;
        width: 100%;
        margin: 0 auto;
        padding-left: 1.3rem;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
        text-decoration: none;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
    }
    .fa-instagram:before{
        color: #919294;
    }
    .fa-twitter-square:before{
        color: #919294;
    }
}