*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media only screen and (min-width: 1200px){

    
   /*Navbar*/
   .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    
}

header{
    background-color: #333;
}
.navbar{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 0px !important;
    background-color: #333 !important;

}
.navbar-nav{
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-link{
    font-size: 19px;
    color: #fff !important;
}
.nav-item .nav-link:hover{
    color: #D5A770 !important;
}
.navbar-brand{
    display: flex;
    
}
.icon{
    
    color: #fff;
    font-size: 17px;
    max-width: 123px;
    width: 100%;
}

.icon i {
    margin-left: 1rem;
}
.icon a i {
    color: #fff;
}
.fa-search:focus{
    width: 100%;
}
.fa-search:hover:before, .fa-heart:hover:before{
    color: #d5a770;
}
.fa-shopping-cart:hover:before, .fa-user:hover:before{
    color: #d5a770;
}
.slogan1:hover, .slogan2:hover{
    color: #d5a770;
}
.slogan1{
    font-size: 27px;
    margin-bottom: 0.2rem;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}
.slogan2{
    font-size: 14px;
    font-family: 'Lobster', cursive;
    color: #fff;
}
    /*carousel*/
    .artistFace img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: top -231px;
        
    }
    .artistFace{
        text-align: center;
        line-height: 19px;
    }
    .parent-info{
        padding-bottom: 15rem;
    }
    .info1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #D5A770;
        margin-top: -325px;
        

    }
    .info2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 73px;
        line-height: 86px;
        color: #FFFFFF;
        margin-top: 8px;
        

    }
    .info3{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 8px;
        
    }

    /*main*/
    .content{
        margin-top: 6rem;
    }
    
    .certification{
        max-width: 100%;
        width: 286px;
        height: 228px;
        background: rgba(196, 196, 196, 0.19);
        
        padding: 20px;
        
    }
    .son1-certification{
        font-size: 20px;
        line-height: 23px;

        color: #D5A770;
    }
    .son2-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .son3-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        
    }
    
    .fa-medal:before{
        padding-right: 1rem;
    }
    .son2-describe{
        
        
        height: 275px;
        text-align: justify;
        margin-top: 20px;
        font-size: 20px;
    }
    .son1-describe{
        text-align: center;
        font-size: 26px;
        line-height: 36px;
        font-family: 'Lobster', cursive;


        color: #000000;
    }
    
    
    .father-title1{
        position: relative;
        
        
    }
    .line1{
        width: 2px;
        height: 70px;
        background-color: #D5A770;
        margin: 0 auto;
    }
    

    .content1{
        margin-top: 5rem;
        padding-bottom: 14rem;
        overflow: hidden;
        background: rgba(196, 196, 196, 0.2);
    }
    
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 46px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 350;
    }
    
    .child-content1 img{
        width: 100%;
        height: 100%;
    }
    #parent-content1{
        margin-top: 50px;
    }
    
    .content1-picture1 img{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px solid;
        padding: 4px;
        color: #000;
    }
    
    .content1-picture1{
        position: relative;
        width: 100%;
        height: 300px;
    }
    
    .addToCart1{
        position: absolute;
        top: 55%;
        left: 83%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 14px;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    
    .addToCart2{
        position: absolute;
        top: 42%;
        left: 83%;
        color: #333;
        background-color:#fff;
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    button:not(:disabled){
        outline: none;
    }
    .content1-picture1::before{
        width: 100%;
        content: " ";
        background-color: #fff;
        position: absolute;
        left: 0%;
        top: 0%;
        height:100%;
        opacity: 0;
    }
    .content1-picture1:hover::before{
        opacity: .3;
        transition: 0.5s;
    }
    .content1-picture1:hover .addToCart1{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content1-picture1:hover .addToCart2{
        opacity: 1;
        transition:ease-in-out 0.8s;
    }
    .content-information1{
        display: flex;
        line-height: 1.5;
        margin-top: 1rem;
        justify-content: space-between;
    }
    .name{
        font-size: 17px;
        font-weight: 500;
        color: #000;
    }
    .size{
        font-size: 14px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 16px;
        color: #d5a770;
    }
    .price{
        font-size: 16px;
        color: #8c8c8c;
        
    }
    
    #parent-content2{
        margin-top: 60px;
    }
    .content2{
        background: #fff;
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        
    }
    
    a:hover{
        text-decoration: none;
    }


    /*sign-in*/
    .content5 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content5{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content5 img{
        width: 100%;
    }
    .parent-content5{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content5{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content5{
        margin-top: 35px;
    }
    #input{
        width: 505px;
    
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    #basic-addon2{
        font-size: 15px;
    }
    /*footer*/
    
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
        text-decoration: none;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-instagram:before{
        color: #919294;
        padding-right: 1rem;

    }
    .fa-twitter-square:before{
        color: #919294;
        padding-right: 1rem;

    }
    #basic-addon2{
        cursor: pointer;
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px){
    
    /*Navbar*/
    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    
    header{
        background-color: #333;
    }
    .navbar{
        background-color: #333 !important;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
        
    }
    .navbar-nav{
        max-width: 300px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-right: 4rem;
    }
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .icon{
        
        color: #fff;
        font-size: 16px;
    }
    .icon i {
        margin-left: 1rem;
    }
    .icon a i {
        color: #fff;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 40px;
        height: 68px;
        margin-left: 1.5rem;
    }
    
    .slogan1{
        font-size: 27px;
        font-family: 'Noto Sans KR', sans-serif;
        color: #fff;
        margin-bottom: 0.2rem;
    }
    .slogan2{
        font-size: 17px;
        font-family: 'Lobster', cursive;
        color: #fff;
    }
    .fa-search:hover:before, .fa-heart:hover:before{
        color: #d5a770;
    }
    .fa-shopping-cart:hover:before, .fa-user:hover:before{
        color: #d5a770;
    }
    .slogan1:hover, .slogan2:hover{
        color: #d5a770;
    }
    /*carousel*/
    .artistFace img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: top -231px;
        
    }
    .artistFace{
        text-align: center;
        line-height: 19px;
    }
    .parent-info{
        padding-bottom: 15rem;
    }
    .info1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #D5A770;
        margin-top: -325px;
        

    }
    .info2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 73px;
        line-height: 86px;
        color: #FFFFFF;
        margin-top: 8px;
        

    }
    .info3{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 8px;
        
    }

    /*main*/
    button:not(:disabled){
        outline: none;
    }
    .content{
        
        margin-top: 6rem;
    }
    
    .certification{
        max-width: 100%;
        width: 286px;
        height: 228px;
        background: rgba(196, 196, 196, 0.19);
        
        padding: 20px;
        
    }
    .son1-certification{
        font-size: 20px;
        line-height: 23px;

        color: #D5A770;
    }
    .son2-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .son3-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        
    }
    .fa-medal:before{
        padding-right: 1rem;
    }
    
    .son2-describe{
        
        
        height: 275px;
        text-align: justify;
        margin-top: 20px;
        font-size: 20px;
    }
    .son1-describe{
        text-align: center;
        font-size: 26px;
        line-height: 36px;
        font-family: 'Lobster', cursive;


        color: #000000;
    }
    
    
    .father-title1{
        position: relative;
        
        
    }
    .line1{
        width: 2px;
        height: 70px;
        background-color: #D5A770;
        margin: 0 auto;
    }
    

    .content1{
        margin-top: 10rem;
        padding-bottom: 14rem;
        overflow: hidden;
        background: rgba(196, 196, 196, 0.2);
    }
    
    .parent-title1{
        TEXT-ALIGN: center;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
        
    }
    
    .child-content1 img{
        width: 100%;
        height: 296px;
    }

   
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1{
        display: flex;
        width: 100%;
        height: 260px;
    }

    
    .content1-picture1 img{
        color: #000;
        width: 100%;
        height: 100%;
    }
    .content1-picture1 img {
        border: 5px solid;
        padding: 4px;
    }
    .content1-picture1 {
        position: relative;
    }
    .addToCart1{
        position: absolute;
        top: 42%;
        left: 80%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 14px;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    
    .addToCart2{
        position: absolute;
        top: 55%;
        left: 80%;
        color: #333;
        background-color: #fff;
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    .content1-picture1::before{
        width: 100%;
        content: " ";
        background-color: #fff;
        position: absolute;
        left: 0%;
        top: 0%;
        height:100%;
        opacity: 0;
        z-index: 9;
    }
    .content1-picture1:hover::before{
        opacity: .3;
        transition: 0.5s;
    }
    .content1-picture1:hover .addToCart1{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content1-picture1:hover .addToCart2{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    
    .content-information1{
        display: flex;
        line-height: 14px;
        margin-top: 1rem;
        justify-content: space-between;
    }

    .son1-information1{
        line-height: 1.8rem;
    }
    .name{
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }
    .size{
        font-size: 13px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 15px;
        color: #d5a770;
    }
    .price{
        font-size: 15px;
        color: #8c8c8c;
        
    }
    
    #parent-content2{
        margin-top: 60px;
    }
    .content2{
        background-color: #fff;
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        
    }
    /*sign-in*/
    .content5 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content5{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content5 img{
        width: 100%;
    }
    .parent-content5{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content5{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content5{
        margin-top: 35px;
    }
    #input{
        width: 505px;
    
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    #basic-addon2{
        font-size: 15px;
    }
    /*footer*/
    .container-footer{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
        text-decoration: none;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-instagram:before{
        color: #919294;
        padding-right: 1rem;

    }
    .fa-twitter-square:before{
        color: #919294;
        padding-right: 1rem;
    }
    a:link, a:visited{
        text-decoration: none;
    }
}

@media only screen and (min-width: 768px) and (max-width:991px){
    /*Navbar*/
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
        
    }
    
    header{
        background-color: #333;
    }
    .navbar{
        width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
        background-color: #333 !important;

    }
    .navbar-nav{
        max-width: 300px !important;
        width: 100% !important;
        display: flex;
        justify-content: space-around;
    }

    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .icon{
        
        color: #fff;
        font-size: 14px;
        
    }
    
    .icon i {
        margin-left: 1rem;
    }
    .icon a i {
        color: #fff;
    }
    .fa-search:focus{
        width: 100%;
    }
    .fa-search:hover:before, .fa-heart:hover:before{
        color: #d5a770;
    }
    .fa-shopping-cart:hover:before, .fa-user:hover:before{
        color: #d5a770;
    }
    .slogan1:hover, .slogan2:hover{
        color: #d5a770;
    }
    .slogan1{
        font-size: 25px;
        margin-bottom: 0.1rem;
        font-family: 'Noto Sans KR', sans-serif;
        color: #fff;
    }
    .slogan2{
        font-size: 14px;
        font-family: 'Lobster', cursive;
        color: #fff;
    }
    /*carousel*/
    .artistFace img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: top -231px;
        
    }
    .artistFace{
        text-align: center;
        line-height: 19px;
    }
    .parent-info{
        padding-bottom: 15rem;
    }
    .info1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
        color: #D5A770;
        margin-top: -310px;
        

    }
    .info2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 86px;
        color: #FFFFFF;
        margin-top: 8px;
        

    }
    .info3{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 8px;
        
    }

    /*main*/
    .content{
        
        margin-top: 6rem;
    }
    button:not(:disabled){
        outline: none;
    }
    .certification{
        max-width: 100%;
        width: 286px;
        height: 228px;
        background: rgba(196, 196, 196, 0.19);
        
        padding: 20px;
        
    }
    .son1-certification{
        font-size: 17px;
        line-height: 23px;

        color: #D5A770;
    }
    .son2-certification{
                
        font-size: 13px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .son3-certification{
                
        font-size: 13px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        
    }
    .fa-medal:before{
        padding-right: 1rem;
    }
    
    
    .son2-describe{
        
        
        height: 275px;
        text-align: justify;
        margin-top: 20px;
        font-size: 17px;
    }
    .son1-describe{
        text-align: center;
        font-size: 23px;
        line-height: 36px;
        font-family: 'Lobster', cursive;


        color: #000000;
    }
    
    
    .father-title1{
        position: relative;
        
        
    }
    .line1{
        width: 2px;
        height: 70px;
        background-color: #D5A770;
        margin: 0 auto;
    }
    

    .content1{
        margin-top: 7rem;
        padding-bottom: 14rem;
        overflow: hidden;
        background: rgba(196, 196, 196, 0.2);
    }
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 27px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 450;
        
    }
    .child-content1 img{
        width: 100%;
        height: 296px;
    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1{
        display: flex;
        width: 100%;
        height: 25rem;
    }
    .content1-picture1 img{
        color: #000;
        width: 100%;
        height: 100%;
    }
    .content1-picture1 img {
        border: 5px solid;
        padding: 4px;
    }
    .content1-picture1 {
        position: relative;
    }
    .addToCart1{
        position: absolute;
        top: 42%;
        left: 80%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 14px;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    
    .addToCart2{
        position: absolute;
        top: 55%;
        left: 80%;
        color: #333;
        background-color: #fff;
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    .content1-picture1::before{
        width: 100%;
        content: " ";
        background-color: #fff;
        position: absolute;
        left: 0%;
        top: 0%;
        height:100%;
        opacity: 0;
        z-index: 9;
    }
    .content1-picture1:hover::before{
        opacity: .3;
        transition: 0.5s;
    }
    .content1-picture1:hover .addToCart1{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content1-picture1:hover .addToCart2{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content-information1{
        display: flex;
        line-height: 14px;
        margin-top: 1rem;
        justify-content: space-between;
    }
    .son1-information1{
        line-height: 1.5rem;
    }
    .name{
        font-size: 15px;
        font-weight: 500;
        color: #000;
    }
    .size{
        font-size: 13px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 14px;
        color: #d5a770;
    }
    .price{
        font-size: 15px;
        color: #8c8c8c;
        
    }
    
    #parent-content2{
        margin-top: 60px;
    }
    .content2{
        background-color: #fff;
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        
    }
    /*sign-in*/
    .content5 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content5{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content5 img{
        width: 100%;
    }
    .parent-content5{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content5{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content5{
        margin-top: 35px;
    }
    #input{
        width: 505px;
        margin: 0 auto;
        
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    #basic-addon2{
        font-size: 15px;
    }
    /*footer*/
    .container-footer{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
        text-decoration: none;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
    }
    .fa-instagram:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-twitter-square:before{
        color: #919294;
        padding-right: 1rem;
    }
    a:link, a:visited{
        text-decoration: none;
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 576px) and (max-width:767px){
    /*Navbar*/
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
    header{
        background-color: #333;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        
        margin: 0 auto;
        padding: 0px !important;
        
    }

    #navbarNav{
        background-color: #333;
        margin-top: -1rem;
    }
    .navbar-nav{
        
        line-height: 4rem;
        padding-bottom: 1rem;
    }
    
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .navbar-toggler{
        background-color: #fff;
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 35px;
        height: 60px;

        margin-left: 1.5rem;
    }
    
    .slogan1{
        font-size: 22px;
        font-family: 'Noto Sans KR', sans-serif;
        color: #fff;
        margin-bottom: 0.2rem;
    }
    .slogan2{
        font-size: 15px;
        font-family: 'Lobster', cursive;
        color: #fff;
    }
    /*carousel*/
    .artistFace img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .artistFace{
        text-align: center;
        line-height: 19px;
    }
    .parent-info{
        padding-bottom: 15rem;
    }
    .info1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #D5A770;
        margin-top: -300px;
        

    }
    .info2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 45px;
        line-height: 86px;
        color: #FFFFFF;
        margin-top: 8px;
        

    }
    .info3{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 8px;
        
    }

    /*main*/
    .content{
        
        margin-top: 6rem;
    }
    
    .certification{
        width: 100%;
        max-width: 1150px;
        height: 163px;
        background: rgba(196, 196, 196, 0.19);
        
        padding: 20px;
        
        text-align: center;
    }
    .son1-certification{
        font-size: 20px;
        line-height: 23px;

        color: #D5A770;
    }
    .son2-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .son3-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        
    }
    .fa-medal:before{
        padding-right: 1rem;
    }
    .describe{
        margin-top: 5rem;
    }
    .son2-describe{
        
        
        height: 275px;
        text-align: justify;
        margin-top: 20px;
        font-size: 20px;
    }
    .son1-describe{
        text-align: center;
        font-size: 26px;
        line-height: 36px;
        font-family: 'Lobster', cursive;


        color: #000000;
    }
    
    
    .father-title1{
        position: relative;
        
        
    }
    .line1{
        width: 2px;
        height: 70px;
        background-color: #D5A770;
        margin: 0 auto;
    }
    

    .content1{
        margin-top: 14rem;
        padding-bottom: 10rem;
        overflow: hidden;
        background: rgba(196, 196, 196, 0.2);

    }
    .parent-title1{
        TEXT-ALIGN: center;
        font-size: 27px;
        margin-bottom: 5px;
        padding-top: 2rem;
        font-weight: 400;
    }
    .child-content1 img{
        width: 100%;
        height: 296px;
    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content1-picture1 img {
        border: 5px solid;
        position: relative;
        padding: 4px;
    }
    .content1-picture1 img{
        color: #000;
    }
    .content1-picture1 img {
        border: 5px solid;
        padding: 4px;
    }
    .content1-picture1 {
        position: relative;
    }
    .addToCart1{
        position: absolute;
        top: 42%;
        left: 83%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 14px;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    
    .addToCart2{
        position: absolute;
        top: 55%;
        left: 83%;
        color: #333;
        background-color: #fff;
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    .content1-picture1::before{
        width: 100%;
        content: " ";
        background-color: #fff;
        position: absolute;
        left: 0%;
        top: 0%;
        height:100%;
        opacity: 0;
        z-index: 9;
    }
    .content1-picture1:hover::before{
        opacity: .3;
        transition: 0.5s;
    }
    .content1-picture1:hover .addToCart1{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content1-picture1:hover .addToCart2{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    button:not(:disabled){
        outline: none;
    }
    .content-information1{
        display: flex;
        line-height: 14px;
        margin-top: 1rem;
        justify-content: space-between;
    }
    .son1-information1{
        line-height: 1.5;
    }
    
    .name{
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }
    .size{
        font-size: 14px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 15px;
        color: #d5a770;
    }
    .price{
        font-size: 15px;
        color: #8c8c8c;
        
    }
    
    #parent-content2{
        margin-top: 60px;
    }
    .content2{
        
        padding-bottom: 10rem;
    }
    .father-title2{
        position: relative;
    }
    /*sign-in*/
    .content5 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content5{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content5 img{
        width: 100%;
    }
    .parent-content5{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content5{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content5{
        margin-top: 35px;
    }
    #input{
        width: 505px;
    
        
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    #basic-addon2{
        font-size: 15px;
    }
    /*footer*/
    .container-footer{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
        text-decoration: none;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-instagram:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-twitter-square:before{
        color: #919294;
        padding-right: 1rem;
    }
    a:link, a:visited{
        text-decoration: none;
    }
}

@media only screen and (min-width: 320px) and (max-width:575px){
    /*Navbar*/
    
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
    header{
        background: #333;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        
        margin: 0 auto;
        padding: 0px !important;
    }

    #navbarNav {
        background-color: #333;
        margin-top: -1rem;
    }
    .navbar-nav{
        
        line-height: 4rem;
        padding-bottom: 2rem;
    }
    
    .nav-link{
        font-size: 15px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
    }
    .navbar-toggler{
        background-color: #fff;
    }
    
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 35px;
        height: 65px;
        margin-left: 1.5rem;
    }
    
    .slogan1{
        font-size: 22px;
        font-family: 'Noto Sans KR', sans-serif;
        color: #fff;
        margin-bottom: 0.2rem;
    }
    .slogan2{
        font-size: 14px;
        font-family: 'Lobster', cursive;
        color: #fff;
    }
    /*carousel*/
    .artistFace img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        
        
    }
    .artistFace{
        text-align: center;
        line-height: 19px;
    }
    .parent-info{
        padding-bottom: 15rem;
    }
    .info1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #D5A770;
        margin-top: -325px;
        

    }
    .info2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 39px;
        line-height: 86px;
        color: #FFFFFF;
        margin-top: 8px;
        

    }
    .info3{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 8px;
        
    }

    /*main*/
    .content{
        
        margin-top: 6rem;
    }
    
    .certification{
        width: 100%;

        max-width: 1150px;
        height: 163px;
        background: rgba(196, 196, 196, 0.19);
        
        padding: 20px;
        
        text-align: center;
    }
    .son1-certification{
        font-size: 18px;
        line-height: 23px;

        color: #D5A770;
    }
    .son2-certification{
                
        font-size: 15px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .son3-certification{
                
        font-size: 15px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        
    }
    .fa-medal:before{
        padding-right: 1rem;
    }
    .describe{
        margin-top: 3.5rem;
        width: 100%;
    }
    .son2-describe{
        text-align: justify;
        margin-top: 20px;
        font-size: 17px;
        
    }
    .son1-describe{
        text-align: center;
        font-size: 23px;
        line-height: 36px;
        font-family: 'Lobster', cursive;


        color: #000000;
    }
    
    
    .container-main{
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    .father-title1{
        position: relative;
        
        
    }
    .line1{
        width: 2px;
        height: 70px;
        background-color: #D5A770;
        margin: 0 auto;
    }
    .content1{
        margin-top: 8rem;
        padding-bottom: 14rem;
        overflow: hidden;
        background: rgba(196, 196, 196, 0.2);
    }
    .parent-title1{
        TEXT-ALIGN: center;
        font-size: 26px;
        margin-bottom: 5px;
        font-weight: 450;
        padding-top: 2rem;
    }
    .child-content1 img{
        width: 100%;
        height: 296px;
    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content1-picture1 img {
        border: 5px solid;
        position: relative;
        padding: 4px;
    }
    .content1-picture1 img{
        color: #000;
    }
    .content1-picture1 img {
        border: 5px solid;
        padding: 4px;
    }
    .content1-picture1 {
        position: relative;
    }
    .addToCart1{
        position: absolute;
        top: 55%;
        left: 80%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    
    .addToCart2{
        position: absolute;
        top: 42%;
        left: 80%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    .content1-picture1::before{
        width: 100%;
        content: " ";
        background-color: #fff;
        position: absolute;
        left: 0%;
        top: 0%;
        height:100%;
        opacity: 0;
        z-index: 9;
    }
    .content1-picture1:hover::before{
        opacity: .5;
        transition: 0.5s;
    }
    .content1-picture1:hover .addToCart1{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content1-picture1:hover .addToCart2{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    button:not(:disabled){
        outline: none;
    }
    .content-information1{
        display: flex;
        line-height: 1.5;
        margin-top: 1rem;
        justify-content: space-between;
    }

    
    .name{
        font-size: 17px;
        font-weight: 500;
        color: #000;
    }
    .size{
        font-size: 14px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 16px;
        color: #d5a770;
    }
    .price{
        font-size: 16px;
        color: #8c8c8c;
        
    }
    
    #parent-content2{
        margin-top: 60px;
    }
    .content2{
        
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        
    }
    /*sign-in*/
    
    .content5 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content5{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content5 img{
        width: 100%;
    }
    .parent-content5{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content5{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content5{
        margin-top: 35px;
    }
    #input{
        width: 100%;
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    #basic-addon2{
        font-size: 15px;
    }
    /*footer*/
    .container-footer{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
        text-decoration: none;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-instagram:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-twitter-square:before{
        color: #919294;
        padding-right: 1rem;
    }
}