*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}

@media only screen and (min-width: 1200px){
    
    /*Navbar*/
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
        
    }
    
    header{
        background-color: #333;
    }
    .navbar{
        width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
        background-color: #333 !important;

    }
    .navbar-nav{
        max-width: 300px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .icon{
        
        color: #fff;
        font-size: 17px;
        max-width: 123px;
        width: 100%;
    }
    
    .icon i {
        margin-left: 1rem;
    }
    .icon a i {
        color: #fff;
    }
    .fa-search:focus{
        width: 100%;
    }
    .fa-search:hover:before, .fa-heart:hover:before{
        color: #d5a770;
    }
    .fa-shopping-cart:hover:before, .fa-user:hover:before{
        color: #d5a770;
    }
    .slogan1:hover, .slogan2:hover{
        color: #d5a770;
    }
    .slogan1{
        font-size: 27px;
        margin-bottom: 0.2rem;
        font-family: Oleo Script;
        color: #fff;
    }
    .slogan2{
        font-size: 14px;
        font-family: Oleo Script;
        color: #fff;
    }
    /*carousel*/
    #carouselExampleControls{
        position: relative;
    }
    
    .carousel-item img{
        height: 500px;
    }
    .title{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);

    }
    .subtitle1{
        color: #fff;
    font-size: 9px;
    background-color: black;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    max-width: -9px;
    width: 100%;
    /* margin: 0 auto; */
    max-width: 80px;
    margin: 0 auto;
        
    }
    .subtitle2{
        color: #fff;
        font-size: 34px;
        background-color: #000;
        text-align: center;
        line-height: 100px;
        opacity: 0.8;
        /* max-width: 485px; */
        padding-left: 5rem;
        padding-right: 5rem;
        margin-top: -0.4rem;
        opacity: 0.75;
    }
    .subtitle3{
        margin: 0 auto;
        width: 50%;
        background-color: #d5a770;
        text-align: center;
        height: 5rem;
        line-height: 5rem;
        margin-top: 2rem;
        position: relative;
        top: -36px;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 5px;
    }
    a .subtitle3{
        text-decoration: none;
        color: #fff;
    }
    .fa-arrow-right:before{
        margin-left: 2rem;
    }
    /*main*/
    .father-title1{
        position: relative;
        top: 3rem;
        
    }
    .line1{
        width: 300px;
        height: 2px;
        background-color: #000;
        margin: 0 auto;
    }
    .line2{
        width: 300px;
        height: 2px;
        background-color: #000;
        margin: 0 auto;
    }

    .content1{
        margin-top: 3rem;
        padding-bottom: 14rem;
        overflow: hidden;
    }
    
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    
    .child-content1 img{
        width: 100%;
        height: 100%;
    }

    
    #son-content1{
        margin-top: 57px;
        
    }
    #parent-content1{
        margin-top: 50px;
    }
    
    .content1-picture1 img{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px solid;
        padding: 4px;
        color: #000;
    }
    
    .content1-picture1{
        position: relative;
        width: 100%;
        height: 300px;
    }
    
    .addToCart1{
        position: absolute;
        top: 55%;
        left: 83%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 14px;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    
    .addToCart2{
        position: absolute;
        top: 42%;
        left: 83%;
        color: #333;
        background-color:#fff;
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    button:not(:disabled){
        outline: none;
    }
    .content1-picture1::before{
        width: 100%;
        content: " ";
        background-color: #fff;
        position: absolute;
        left: 0%;
        top: 0%;
        height:100%;
        opacity: 0;
    }
    .content1-picture1:hover::before{
        opacity: .3;
        transition: 0.5s;
    }
    .content1-picture1:hover .addToCart1{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content1-picture1:hover .addToCart2{
        opacity: 1;
        transition:ease-in-out 0.8s;
    }
    .content-information1{
        display: flex;
        line-height: 1.5;
        margin-top: 1rem;
        justify-content: space-between;
    }
    .name{
        font-size: 17px;
        font-weight: 500;
        color: #000;
    }
    .size{
        font-size: 14px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 16px;
        color: #d5a770;
    }
    .price{
        font-size: 16px;
        color: #8c8c8c;
        
    }
    
    #parent-content2{
        margin-top: 60px;
    }
    .content2{
        background: rgba(196, 196, 196, 0.2);
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        top: 6rem;
    }
    #son-content2{
        margin-top: 57px;
    }
    /*sign-in*/
    .content3 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content3{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content3 img{
        width: 100%;
        
    }
    .parent-content3{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content3{
        
        font-size: 32px;
        color: #fff;
    }
    
    .son2-content3{
        margin-top: 35px;
    }
    #input{
        max-width: 505px;
        width: 100%;
    
        
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 50px;
    }
    .input-group-text{
        font-size: 16px;
    }
    /*footer*/
    
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-instagram:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-twitter-square:before{
        color: #919294;
        padding-right: 1rem;
    }
    #basic-addon2{
        cursor: pointer;
    }
    /*banner*/
    .content6{
        padding: 203px 0;
        background-color: #e8ebf4;
        position: relative;
        overflow: hidden;
    }
    .content6 .background{
        background-image: url(../img/background.jpg);
        background-size: 800px 539px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        width: 800px;
        height: 539px;
    }
    .content6 .son-content6{
        position: relative;
        color: #fff;
        text-align: center;
        z-index: 5;
        
    }
    
    
    .content6 .son-content6 .title3{
        color: #000;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        

    }
    .content6 .son-content6 .title4{
        font-size: 18px;
        line-height: 22px;
        margin: 15px 0;
        color: #5d5d5d;
        font-weight: 300;
    }
    .title4 a{
        color: #333;
    }
    /*magazine*/
    .content5{
        padding: 80px 0;
        background-color: #f8f8f8;
    }

    .content5 h2{
        font-weight: 500;
        font-size: 42px;
        vertical-align: middle;
        line-height: 42px;
        margin-bottom: 75px;
    }
    .content5 h2 span{
        font-size: 24px;
        font-weight: 300;
        margin-left: 15px;
    }
    .category{
        font-size: 17px;
        color: #D5A770;
    }
    .featured-news img{
        height: 390px;
        width: 89%;
    }
    .cnt{
        line-height: 4rem;
        max-width: 500px;
        width: 100%;
    }
    .cnt a{
        color: #333333db;
        font-weight: 200;
    }
    figcaption a{
        color: #333333db;
    }
    figcaption a:hover{
        color: #333;
    }
    figcaption{
        line-height: 3rem;
        padding-left: 2rem;
    
    }
    figure img{
        height: 140px;
        width: 30%;
        
    }
    .link{
        font-size: 13px;
    }
    figure{
        display: flex;
        align-items: center;
    }
    a:link, a:visited {
        text-decoration: none;
        outline: 0;
    }
    
    a .thumnail1, a .thumnail2{
        letter-spacing: 0.7px;
        font-size: 15px;
        font-weight: 700;
    }

}

@media only screen and (min-width: 992px) and (max-width:1199px){
    /*Navbar*/
    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    .container-nav{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }
    header{
        background-color: #333;
    }
    .navbar{
        background-color: #333 !important;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
        
    }
    .navbar-nav{
        max-width: 300px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-right: 4rem;
    }
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .icon{
        
        color: #fff;
        font-size: 16px;
    }
    .icon i {
        margin-left: 1rem;
    }
    .icon a i {
        color: #fff;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 40px;
        height: 68px;
        margin-left: 1.5rem;
    }
    
    .slogan1{
        font-size: 27px;
        font-family: Oleo Script;
        color: #fff;
        margin-bottom: 0.2rem;
    }
    .slogan2{
        font-size: 17px;
        font-family: Oleo Script;
        color: #fff;
    }
    .fa-search:hover:before, .fa-heart:hover:before{
        color: #d5a770;
    }
    .fa-shopping-cart:hover:before, .fa-user:hover:before{
        color: #d5a770;
    }
    .slogan1:hover, .slogan2:hover{
        color: #d5a770;
    }
    /*carousel*/
    #carouselExampleControls{
        position: relative;
    }
    
    .carousel-item img{
        height: 500px;
    }
    .title{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);

    }
    .subtitle1{
        color: #fff;
    font-size: 9px;
    background-color: black;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    max-width: -9px;
    width: 100%;
    /* margin: 0 auto; */
    max-width: 80px;
    margin: 0 auto;
        
    }
    .subtitle2{
        color: #fff;
        font-size: 34px;
        background-color: #000;
        text-align: center;
        line-height: 100px;
        opacity: 0.8;
        /* max-width: 485px; */
        padding-left: 5rem;
        padding-right: 5rem;
        margin-top: -0.4rem;
        opacity: 0.75;
    }
    .subtitle3{
        margin: 0 auto;
        width: 50%;
        background-color: #d5a770;
        text-align: center;
        height: 5rem;
        line-height: 5rem;
        margin-top: 2rem;
        position: relative;
        top: -36px;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 5px;
    }
    a .subtitle3{
        text-decoration: none;
        color: #fff;
    }
    .fa-arrow-right:before{
        margin-left: 2rem;
    }
    /*main*/
    .father-title1{
        position: relative;
        top: 3rem;
        
    }
    .line1{
        width: 300px;
        height: 2px;
        background-color: #000;
        margin: 0 auto;
    }
    .line2{
        width: 300px;
        height: 2px;
        background-color: #000;
        margin: 0 auto;
    }

    .content1{
        margin-top: 3rem;
        padding-bottom: 14rem;
        overflow: hidden;
    }
    
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    
    .child-content1 img{
        width: 100%;
        height: 296px;
    }

    #son-content1{
        
        
        margin-top: 57px;
        

    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1{
        display: flex;
        width: 100%;
        height: 260px;
    }

    
    .content1-picture1 img{
        color: #000;
        width: 100%;
        height: 100%;
    }
    .content1-picture1 img {
        border: 5px solid;
        padding: 4px;
    }
    .content1-picture1 {
        position: relative;
    }
    .addToCart1{
        position: absolute;
        top: 42%;
        left: 80%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 14px;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    
    .addToCart2{
        position: absolute;
        top: 55%;
        left: 80%;
        color: #333;
        background-color: #fff;
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    .content1-picture1::before{
        width: 100%;
        content: " ";
        background-color: #fff;
        position: absolute;
        left: 0%;
        top: 0%;
        height:100%;
        opacity: 0;
        z-index: 9;
    }
    .content1-picture1:hover::before{
        opacity: .3;
        transition: 0.5s;
    }
    .content1-picture1:hover .addToCart1{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content1-picture1:hover .addToCart2{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    button:not(:disabled){
        outline: none;
    }
    .content-information1{
        display: flex;
        line-height: 14px;
        margin-top: 1rem;
        justify-content: space-between;
    }
    .son1-information1{
        line-height: 1.8rem;
    }
    
    .name{
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }
    .size{
        font-size: 13px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 15px;
        color: #d5a770;
    }
    .price{
        font-size: 15px;
        color: #8c8c8c;
        
    }
    
    #parent-content2{
        margin-top: 60px;
    }
    .content2{
        background: rgba(196, 196, 196, 0.2);
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        top: 6rem;
    }
    #son-content2{
        
        
        margin-top: 57px;

    }
    /*sign-in*/
    .content3 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content3{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content3 img{
        width: 100%;
    }
    .parent-content3{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content3{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content3{
        margin-top: 35px;
    }
    #input{
        max-width: 505px;
        width: 100%;
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    .input-group-text{
        font-size: 15px;
    }
    /*footer*/
    
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-instagram:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-twitter-square:before{
        color: #919294;
        padding-right: 1rem;
    }
    
    /*banner*/
    .content6{
        padding: 203px 0;
        background-color: #e8ebf4;
        position: relative;
        overflow: hidden;
    }
    .content6 .background{
        background-image: url(../img/background.jpg);
        background-size: 800px 539px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        width: 800px;
        height: 539px;
    }
    .content6 .son-content6{
        position: relative;
        color: #fff;
        text-align: center;
        z-index: 5;
        
    }

    
    .content6 .son-content6 .title3{
        color: #000;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        

    }
    .content6 .son-content6 .title4{
        font-size: 18px;
        line-height: 22px;
        margin: 15px 0;
        color: #5d5d5d;
        font-weight: 300;
    }
    .title4 a{
        color: #333;
    }
    /*magazine*/
    .content5{
        padding: 80px 0;
        background-color: #f8f8f8;
    }

    .content5 h2{
        font-weight: 500;
        font-size: 42px;
        vertical-align: middle;
        line-height: 42px;
        margin-bottom: 75px;
    }
    .content5 h2 span{
        font-size: 24px;
        font-weight: 300;
        margin-left: 15px;
    }
    .category{
        font-size: 15px;
        color: #D5A770;
    }
    .featured-news img{
        height: 390px;
        width: 95%;
    }
    .cnt{
        line-height: 3rem;
        
    }
    figcaption{
        line-height: 2rem;
        padding-left: 2rem;
    
    }
    figure img{
        height: 166px;
        width: 30%;
        
    }
    figure{
        display: flex;
        align-items: center;
    }
    a:link, a:visited {
        text-decoration: none;
        outline: 0;
    }
    .link{
        color: #333;
        font-size: 13.5px;
    }
    a .thumnail1, a .thumnail2{
        letter-spacing: 0.7px;
        font-size: 15px;
        font-weight: 700;
        color: #333;
    }
    .thumnail1{
        max-width: 400px;
        width: 100%;
    }
    .thumnail2{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width:991px){

    /*Navbar*/
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
        
    }
    
    header{
        background-color: #333;
    }
    .navbar{
        width: 100%;
        height: 80px;
        margin: 0 auto;
        padding: 0px !important;
        background-color: #333 !important;

    }
    .navbar-nav{
        max-width: 300px !important;
        width: 100% !important;
        display: flex;
        justify-content: space-around;
    }

    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .icon{
        
        color: #fff;
        font-size: 14px;
        
    }
    
    .icon i {
        margin-left: 1rem;
    }
    .icon a i {
        color: #fff;
    }
    .fa-search:focus{
        width: 100%;
    }
    .fa-search:hover:before, .fa-heart:hover:before{
        color: #d5a770;
    }
    .fa-shopping-cart:hover:before, .fa-user:hover:before{
        color: #d5a770;
    }
    .slogan1:hover, .slogan2:hover{
        color: #d5a770;
    }
    .slogan1{
        font-size: 25px;
        margin-bottom: 0.1rem;
        font-family: Oleo Script;
        color: #fff;
    }
    .slogan2{
        font-size: 14px;
        font-family: Oleo Script;
        color: #fff;
    }
    /*carousel*/
    #carouselExampleControls{
        position: relative;
    }
    .carousel-item img{
        height: 350px;
    }
    .title{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%);

    }
    .subtitle1{
        color: #fff;
    font-size: 9px;
    background-color: black;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    max-width: -9px;
    width: 100%;
    max-width: 80px;
    margin: 0 auto;
        
    }
    .subtitle2{
        color: #fff;
        font-size: 26px;
        background-color: #000;
        text-align: center;
        line-height: 90px;
        opacity: 0.8;
        padding-left: 5rem;
        padding-right: 5rem;
        margin-top: -0.4rem;
        opacity: 0.75;
    }
    .subtitle3{
        margin: 0 auto;
        width: 50%;
        background-color: #d5a770;
        text-align: center;
        height: 5rem;
        line-height: 5rem;
        margin-top: 2rem;
        position: relative;
        top: -36px;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 5px;
    }
    a .subtitle3{
        text-decoration: none;
        color: #fff;
    }
    .fa-arrow-right:before{
        margin-left: 1rem;
    }
    /*main*/
    .father-title1{
        position: relative;
        top: 3rem;
        
    }
    .line1{
        width: 300px;
        height: 2px;
        background-color: #000;
        margin: 0 auto;
    }
    .line2{
        width: 300px;
        height: 2px;
        background-color: #000;
        margin: 0 auto;
    }

    .content1{
        margin-top: 3rem;
        padding-bottom: 14rem;
        overflow: hidden;
    }
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .child-content1 img{
        width: 100%;
        height: 296px;
    }

    
    #son-content1{
        
        
        margin-top: 57px;
        

    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1{
        display: flex;
        width: 100%;
        height: 25rem;
    }
    .content1-picture1 img{
        color: #000;
        width: 100%;
        height: 100%;
    }
    .content1-picture1 img {
        border: 5px solid;
        padding: 4px;
    }
    .content1-picture1 {
        position: relative;
    }
    .addToCart1{
        position: absolute;
        top: 42%;
        left: 80%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 14px;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    
    .addToCart2{
        position: absolute;
        top: 55%;
        left: 80%;
        color: #333;
        background-color: #fff;
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    .content1-picture1::before{
        width: 100%;
        content: " ";
        background-color: #fff;
        position: absolute;
        left: 0%;
        top: 0%;
        height:100%;
        opacity: 0;
        z-index: 9;
    }
    .content1-picture1:hover::before{
        opacity: .3;
        transition: 0.5s;
    }
    .content1-picture1:hover .addToCart1{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content1-picture1:hover .addToCart2{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    button:not(:disabled){
        outline: none;
    }
    .content-information1{
        display: flex;
        line-height: 14px;
        margin-top: 1rem;
        justify-content: space-between;
    }
    .son1-information1{
        line-height: 1.5rem;
    }
    .name{
        font-size: 15px;
        font-weight: 500;
        color: #000;
    }
    .size{
        font-size: 13px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 14px;
        color: #d5a770;
    }
    .price{
        font-size: 15px;
        color: #8c8c8c;
        
    }
    
    #parent-content2{
        margin-top: 60px;
    }
    .content2{
        background: rgba(196, 196, 196, 0.2);
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        top: 6rem;
    }
    #son-content2{
        
        
        margin-top: 57px;

    }
    /*sign-in*/
    .content3 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content3{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content3 img{
        width: 100%;
    }
    .parent-content3{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content3{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content3{
        margin-top: 35px;
    }
    #input{
        max-width: 505px;
        width: 100%;
        margin: 0 auto;
        
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    #basic-addon2{
        font-size: 15px;
        cursor: pointer;
    }
    /*footer*/
    .container-footer{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        padding-left: 1.1rem;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-instagram:before{
        color: #919294;
        padding-right: 1rem;

    }
    .fa-twitter-square:before{
        color: #919294;
        padding-right: 1rem;

    }
    
    /*banner*/
    .content6{
        padding: 203px 0;
        background-color: #e8ebf4;
        position: relative;
        overflow: hidden;
    }
    .content6 .background{
        background-image: url(../img/background.jpg);
        background-size: 800px 539px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        width: 800px;
        height: 539px;
    }
    .content6 .son-content6{
        position: relative;
        color: #fff;
        text-align: center;
        z-index: 5;
        
    }

    
    .content6 .son-content6 .title3{
        color: #000;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        

    }
    .content6 .son-content6 .title4{
        font-size: 18px;
        line-height: 22px;
        margin: 15px 0;
        color: #5d5d5d;
        font-weight: 300;
    }
    .title4 a{
        color: #333;
    }
    /*magazine*/
    .content5{
        padding: 80px 0;
        background-color: #f8f8f8;
    }

    .content5 h2{
        font-weight: 500;
        font-size: 34px;
        vertical-align: middle;
        line-height: 42px;
        margin-bottom: 75px;
    }
    .content5 h2 span{
        font-size: 24px;
        font-weight: 300;
        margin-left: 15px;
    }
    
    .category{
        font-size: 15px;
        color: #D5A770;
    }
    .featured-news img{
        height: 450px;
        width: 100%;
    }
    .cnt{
        line-height: 3rem;
        
    }
    figcaption{
        line-height: 3rem;
        padding-left: 2rem;
    
    }
    figure img{
        height: 160px;
        width: 35%;
    }
    figure{
        display: flex;
        align-items: center;
    }
    a:link, a:visited {
        text-decoration: none;
        outline: 0;
    }
    .link{
        color: #333;
        font-size: 14px;
    }
    .thumnail1{
        font-size: 17px;
        font-weight: 600;
        color:#000;
    }
    .thumnail2{
        font-size: 15px;
        font-weight: 600;
        color:#000;
        overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    }
}

@media only screen and (min-width: 576px) and (max-width:767px){
    /*Navbar*/
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
    header{
        background-color: #333;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        
        margin: 0 auto;
        padding: 0px !important;
        
    }

    #navbarNav{
        background-color: #333;
        margin-top: -1rem;
    }
    .navbar-nav{
        
        line-height: 4rem;
        padding-bottom: 1rem;
    }
    
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
        
    }
    .navbar-toggler{
        background-color: #fff;
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 35px;
        height: 60px;

        margin-left: 1.5rem;
    }
    
    .slogan1{
        font-size: 22px;
        font-family: Oleo Script;
        color: #fff;
        margin-bottom: 0.2rem;
    }
    .slogan2{
        font-size: 15px;
        font-family: Oleo Script;
        color: #fff;
    }
    /*carousel*/
    #carouselExampleControls{
        position: relative;
    }
    .carousel-item img{
        height: 300px;
    }
    .title{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%);

    }
    .subtitle1{
        color: #fff;
    font-size: 9px;
    background-color: black;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    max-width: -9px;
    width: 100%;
    max-width: 80px;
    margin: 0 auto;
        
    }
    .subtitle2{
        color: #fff;
        font-size: 23px;
        background-color: #000;
        text-align: center;
        line-height: 90px;
        opacity: 0.8;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-top: -0.4rem;
        opacity: 0.75;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .subtitle3{
        margin: 0 auto;
    width: 60%;
    background-color: #d5a770;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    margin-top: 2rem;
    position: relative;
    top: -36px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    }
    a .subtitle3{
        text-decoration: none;
        color: #fff;
    }
    .fa-arrow-right:before{
        margin-left: 0.5rem;
    }
    /*main*/
    .father-title1{
        position: relative;
        top: 3rem;
        
    }
    .line1{
        width: 300px;
        height: 2px;
        background-color: #000;
        margin: 0 auto;
    }
    .line2{
        width: 300px;
        height: 2px;
        background-color: #000;
        margin: 0 auto;
    }

    .content1{
        margin-top: 3rem;
        padding-bottom: 14rem;
        overflow: hidden;

    }
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .child-content1 img{
        width: 100%;
        height: 296px;
    }

    
    #son-content1{
        
        
        margin-top: 57px;
        

    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content1-picture1 img {
        border: 5px solid;
        position: relative;
        padding: 4px;
    }
    .content1-picture1 img{
        color: #000;
    }
    .content1-picture1 img {
        border: 5px solid;
        padding: 4px;
    }
    .content1-picture1 {
        position: relative;
    }
    .addToCart1{
        position: absolute;
        top: 42%;
        left: 83%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 14px;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    
    .addToCart2{
        position: absolute;
        top: 55%;
        left: 83%;
        color: #333;
        background-color: #fff;
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    .content1-picture1::before{
        width: 100%;
        content: " ";
        background-color: #fff;
        position: absolute;
        left: 0%;
        top: 0%;
        height:100%;
        opacity: 0;
        z-index: 9;
    }
    .content1-picture1:hover::before{
        opacity: .3;
        transition: 0.5s;
    }
    .content1-picture1:hover .addToCart1{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content1-picture1:hover .addToCart2{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    button:not(:disabled){
        outline: none;
    }
    .content-information1{
        display: flex;
        line-height: 14px;
        margin-top: 1rem;
        justify-content: space-between;
    }
    .son1-information1{
        line-height: 1.5;
    }
    
    .name{
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }
    .size{
        font-size: 14px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 15px;
        color: #d5a770;
    }
    .price{
        font-size: 15px;
        color: #8c8c8c;
        
    }
    
    #parent-content2{
        margin-top: 60px;
    }
    .content2{
        background: rgba(196, 196, 196, 0.2);
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        top: 6rem;
    }
    #son-content2{
        margin-top: 57px;
    }
    /*sign-in*/
    .content3 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content3{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content3 img{
        width: 100%;
    }
    .parent-content3{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content3{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content3{
        margin-top: 35px;
    }
    #input{
        width: 505px;
    
        
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    #basic-addon2{
        font-size: 15px;
        cursor: pointer;
    }
    /*footer*/
    .container-footer{
        padding-left: 1rem;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-instagram:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-twitter-square:before{
        color: #919294;
        padding-right: 1rem;
    }
    
    /*banner*/
    .content6{
        padding: 203px 0;
        background-color: #e8ebf4;
        position: relative;
        overflow: hidden;
    }
    .content6 .background{
        background-image: url(../img/background.jpg);
        background-size: 800px 539px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        width: 800px;
        height: 539px;
    }
    .content6 .son-content6{
        position: relative;
        color: #fff;
        text-align: center;
        z-index: 5;
        
    }

    
    .content6 .son-content6 .title3{
        color: #000;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        

    }
    .content6 .son-content6 .title4{
        font-size: 18px;
        line-height: 22px;
        margin: 15px 0;
        color: #5d5d5d;
        font-weight: 300;
    }
    .title4 a{
        color: #333;
    }
    /*magazine*/
    .content5{
        padding: 80px 0;
        background-color: #f8f8f8;
    }

    .content5 h2{
        font-weight: 500;
        font-size: 34px;
        vertical-align: middle;
        line-height: 42px;
        margin-bottom: 75px;
    }
    .content5 h2 span{
        font-size: 24px;
        font-weight: 300;
        margin-left: 15px;
    }
    .category{
        font-size: 17px;
        color: #D5A770;
    }
    .featured-news img{
        height: 400px;
        max-width: 400px;
        width: 100%;
    }
    figure img{
        max-width: 170px;
        width: 100%;
        height: 115px;

    }
    .cnt{
        line-height: 3rem;
        padding-bottom: 25px;
    }
    figcaption{
        line-height: 3rem;
        padding-bottom: 10px;
        padding-left: 3rem;
        
    }
    
    figure{
        display: flex;
        align-items: center;
    }
    a:focus, a:hover, a:link, a:visited {
        text-decoration: none;
        outline: 0;
    }
    .thumnail1{
        font-size: 16px;
        color: #333;
        font-weight: 600;
        max-width: 414px;
        width: 100%;
    }
    .thumnail2{
        font-size: 16px;
        color: #333;
        font-weight: 600;
        max-width: 414px;
        width: 100%;
    }
    .link{
        color: #333;
        font-size: 14px;
    }
}

@media only screen and (min-width: 320px) and (max-width:575px){
    /*Navbar*/
    
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
    header{
        background: #333;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        
        margin: 0 auto;
        padding: 0px !important;
    }

    #navbarNav {
        background-color: #333;
        margin-top: -1rem;
    }
    .navbar-nav{
        
        line-height: 4rem;
        padding-bottom: 2rem;
    }
    
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }
    .nav-item .nav-link:hover{
        color: #D5A770 !important;
    }
    .navbar-brand{
        display: flex;
    }
    .navbar-toggler{
        background-color: #fff;
    }
    
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 35px;
        height: 65px;
        margin-left: 1.5rem;
    }
    
    .slogan1{
        font-size: 22px;
        font-family: Oleo Script;
        color: #fff;
        margin-bottom: 0.2rem;
    }
    .slogan2{
        font-size: 14px;
        font-family: Oleo Script;
        color: #fff;
    }
    /*carousel*/
    
    #carouselExampleControls{
        position: relative;
    }
    .carousel-item img{
        height: 200px;
    }
    .title{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%);
        max-width: 190px;
        width: 100%;
    }
    .subtitle1{
        color: #fff;
    font-size: 0.9rem;
    background-color: black;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    max-width: -9px;
    width: 100%;
    max-width: 80px;
    margin: 0 auto;
        
    }
    .subtitle2{
        color: #fff;
    font-size: 1.55rem;
    background-color: #000;
    text-align: center;
    line-height: 60px;
    opacity: 0.8;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: -0.4rem;
    opacity: 0.75;
    
    }
    .subtitle3{
        margin: 0 auto;
    width: 50%;
    background-color: #d5a770;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    position: relative;
    top: -10px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 5px;
    }
    a .subtitle3{
        text-decoration: none;
        color: #fff;
    }
    .fa-arrow-right:before{
        margin-left: 0.5rem;
    }
    /*main*/
    .container-main{
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
    .father-title1{
        position: relative;
        top: 3rem;
        
    }
    .line1{
        
        height: 2px;
        background-color: #000;
        margin: 0 auto;
    }
    .line2{
        
        height: 2px;
        background-color: #000;
        margin: 0 auto;
    }

    .content1{
        margin-top: 3rem;
        padding-bottom: 14rem;
        overflow: hidden;

    }
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .child-content1 img{
        width: 100%;
        height: 296px;
    }

    
    #son-content1{
        
        
        margin-top: 57px;
        

    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content1-picture1 img {
        border: 5px solid;
        position: relative;
        padding: 4px;
    }
    .content1-picture1 img{
        color: #000;
    }
    .content1-picture1 img {
        border: 5px solid;
        padding: 4px;
    }
    .content1-picture1 {
        position: relative;
    }
    .addToCart1{
        position: absolute;
        top: 55%;
        left: 80%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    
    .addToCart2{
        position: absolute;
        top: 42%;
        left: 80%;
        color: #333;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 700;
        opacity: 0;
        border: none;
        z-index: 10;
    }
    .content1-picture1::before{
        width: 100%;
        content: " ";
        background-color: #fff;
        position: absolute;
        left: 0%;
        top: 0%;
        height:100%;
        opacity: 0;
        z-index: 9;
    }
    .content1-picture1:hover::before{
        opacity: .5;
        transition: 0.5s;
    }
    .content1-picture1:hover .addToCart1{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content1-picture1:hover .addToCart2{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    button:not(:disabled){
        outline: none;
    }
    .content-information1{
        display: flex;
        line-height: 1.5;
        margin-top: 1rem;
        justify-content: space-between;
    }

    
    .name{
        font-size: 17px;
        font-weight: 500;
        color: #000;
    }
    .size{
        font-size: 14px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 16px;
        color: #d5a770;
    }
    .price{
        font-size: 16px;
        color: #8c8c8c;
        
    }
    
    #parent-content2{
        margin-top: 60px;
    }
    .content2{
        background: rgba(196, 196, 196, 0.2);
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        top: 6rem;
    }
    #son-content2{
        margin-top: 57px;
    }
    /*sign-in*/
    
    .content3 {
        background-image: url(../img/p69.jpg);
        background-size: cover;
    }
    .father-content3{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content3 img{
        width: 100%;
    }
    .parent-content3{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .son1-content3{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content3{
        margin-top: 35px;
    }
    #input{
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
        height: 45px;
    }
    #basic-addon2{
        font-size: 15px;
        cursor: pointer;
    }
    /*footer*/
    .container-footer{
        max-width: 575px;
        width: 100%;
        margin: 0 auto;
        padding-left: 1.3rem;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .container-footer .row{
        margin-right: 0px ;
        margin-left: 0px;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .child2-content4 a{
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
    .fa-facebook:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-instagram:before{
        color: #919294;
        padding-right: 1rem;
    }
    .fa-twitter-square:before{
        color: #919294;
        padding-right: 1rem;
    }
    
    /*banner*/
    .content6{
        padding: 203px 0;
        background-color: #e8ebf4;
        position: relative;
        overflow: hidden;
    }
    .content6 .background{
        background-image: url(../img/background.jpg);
        background-size: 800px 539px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        width: 800px;
        height: 539px;
    }
    .content6 .son-content6{
        position: relative;
        color: #fff;
        text-align: center;
        z-index: 5;
        
    }

    
    .content6 .son-content6 .title3{
        color: #000;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        

    }
    .content6 .son-content6 .title4{
        font-size: 18px;
        line-height: 22px;
        margin: 15px 0;
        color: #5d5d5d;
        font-weight: 300;
    }
    .title4 a{
        color: #333;
    }
    /*magazine*/
    .content5{
        padding: 80px 0;
        background-color: #f8f8f8;
    }

    .content5 h2{
        font-weight: 500;
        font-size: 38px;
        vertical-align: middle;
        line-height: 42px;
        margin-bottom: 75px;
    }
    .content5 h2 span{
        font-size: 24px;
        font-weight: 300;
        margin-left: 15px;
    }
    .category{
        font-size: 16px;
        color: #D5A770;
    }
    .featured-news img{
        height: 400px;
        width: 100%;
    }
    figure img{
        max-width: 170px;
        width: 100%;
        height: 100px;

    }
    .cnt{
        line-height: 3.5rem;
        padding-bottom: 25px;
    }
    figcaption{
        line-height: 3.5rem;
        padding-bottom: 10px;
    
    }
    
    a:link, a:visited {
        text-decoration: none;
        outline: 0;
    }
    .thumnail1{
        font-size: 15px;
        color: #333;
        font-weight: 700;
    }
    .thumnail2{
        font-size: 15px;
        color: #333;
        font-weight: 700;
    }
    .link{
        font-size: 13.5px;
        color: #333;
    }
}