*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media only screen and (min-width: 1200px){

    
    /*Navbar*/
    .container-fluid{
        padding-right: 0px !important;
        padding-left: 0px !important;
        overflow: hidden;
        
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        height: 110px;
        margin: 0 auto;
        padding: 0px !important;
        
    }
    

    #navbarNav{
        margin-right: 10rem;
    }

    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }

    .navbar-brand{
        display: flex;
        
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 50px;
        height: 79px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 1.3rem;
    }
    .slogan1{
        font-size: 27px;
    }
    .slogan2{
        font-size: 17px;
    }
    /*carousel*/
    .artistFace img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: top -231px;
        
    }
    .artistFace{
        margin-top: 11rem;
        text-align: center;
        line-height: 19px;
    }
    .parent-info{
        padding-bottom: 15rem;
    }
    .info1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #D5A770;
        margin-top: -325px;
        margin-left: 30px;

    }
    .info2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 73px;
        line-height: 86px;
        color: #FFFFFF;
        margin-top: 8px;
        margin-left: 30px;

    }
    .info3{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 8px;
        margin-left: 30px;
    }

    
    .content{
        
        margin-top: 6rem;
    }
    
    .certification{
        max-width: 100%;
        width: 286px;
        height: 228px;
        background: rgba(196, 196, 196, 0.19);
        
        padding: 20px;
        
    }
    .son1-certification{
        font-size: 20px;
        line-height: 23px;

        color: #D5A770;
    }
    .son2-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .son3-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        
    }
    
    
    .son2-describe{
        
        
        height: 275px;
        text-align: justify;
        margin-top: 20px;
        font-size: 20px;
    }
    .son1-describe{
        text-align: center;
        font-size: 26px;
        line-height: 36px;
        font-family: 'Lobster', cursive;


        color: #000000;
    }
    
    
    .father-title1{
        position: relative;
        top: 3rem;
        
    }
    .line1{
        width: 2px;
        height: 77px;
        background: #D5A770;
        margin: 0 auto;
    }
    
    .content1{
        margin-top: 6rem;
        background: rgba(196, 196, 196, 0.2);
        padding-bottom: 14rem;
    }
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 46px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .parent-title2{
        
        TEXT-ALIGN: center;
        font-size: 46px;
        
        margin-bottom: 5px;
        color: #fff;
    }
    .child-content1 img{
        width: 100%;
        height: 296px;
    }

    .container{
        
    
        margin: 0 auto;
        max-width: 1170px;
    }
    #son-content1{
        
        
        margin-top: 57px;
        

    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1 img {
        border: 5px solid;
        position: relative;
        padding: 4px;
    }
    
    .content2-picture2 img {
        border: 5px solid;
        position: relative;
        
        border-color: #fff;
    }
    .content1-picture1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .addToCart{
        position: absolute;
        top: 65%;
        color: #fff;
        background-color: #D5A770;
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        opacity: 0;
    }
    .content1-picture1:hover div.addToCart{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content2-picture2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .addToCart{
        position: absolute;
        top: 65%;
        color: #fff;
        background-color: #D5A770;
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        opacity: 0;
    }
    .content2-picture2:hover div.addToCart{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content-information1{
        display: flex;
        line-height: 14px;
        margin-top: 1rem;
        justify-content: space-between;
    }

    
    .name{
        font-size: 14px;
    }
    .size{
        font-size: 14px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 12px;
        color: #d5a770;
    }
    .price{
        font-size: 15px;
        color: #8c8c8c;
        
    }
    .name2{
        font-size: 14px;
        color: #fff;
    }
    .size2{
        font-size: 14px;
        color: rgba(255, 255, 255, 0.92);
    }
    
    .price2{
        font-size: 15px;
        color: #fff;
        
    }

    #parent-content2{
        margin-top: 50px;
    }
    
    .content2{
        background-color: #333;
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        top: 6rem;
    }
    #son-content2{
        
        
        margin-top: 57px;

    }


    .content5 {
        background-image: url(img/p69.jpg);
    }
    .father-content5{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content5 img{
        width: 100%;
    }
    .parent-content5{
        
        text-align: center;
    }
    
    .son1-content5{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content5{
        margin-top: 35px;
    }
    #input{
        width: 505px;
    
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px){
    
    /*Navbar*/
    .container-fluid{
        padding-right: 0px !important;
        padding-left: 0px !important;
        overflow: hidden;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        height: 110px;
        margin: 0 auto;
        
    }

    #navbarNav{
        margin-right: 10rem;
    }

    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }

    .navbar-brand{
        display: flex;
        
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 50px;
        height: 79px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 1.3rem;
    }
    .slogan1{
        font-size: 27px;
    }
    .slogan2{
        font-size: 17px;
    }
    
    .artistFace img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: top -231px;
        
    }
    .artistFace{
        margin-top: 11rem;
        text-align: center;
        line-height: 19px;
    }
    .parent-info{
        padding-bottom: 15rem;
    }
    .info1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #D5A770;
        margin-top: -325px;
        margin-left: 30px;

    }
    .info2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 73px;
        line-height: 86px;
        color: #FFFFFF;
        margin-top: 8px;
        margin-left: 30px;

    }
    .info3{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 8px;
        margin-left: 30px;
    }

    
    .content{
        
        margin-top: 6rem;
    }
    
    .certification{
        max-width: 100%;
        width: 286px;
        height: 228px;
        background: rgba(196, 196, 196, 0.19);
        
        padding: 20px;
        
    }
    .son1-certification{
        font-size: 20px;
        line-height: 23px;

        color: #D5A770;
    }
    .son2-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .son3-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        
    }
    
    
    .son2-describe{
        
        
        height: 275px;
        text-align: justify;
        margin-top: 20px;
        font-size: 20px;
    }
    .son1-describe{
        text-align: center;
        font-size: 26px;
        line-height: 36px;
        font-family: 'Lobster', cursive;


        color: #000000;
    }
    
    
    .father-title1{
        position: relative;
        top: 3rem;
        
    }
    .line1{
        width: 2px;
        height: 77px;
        background: #D5A770;
        margin: 0 auto;
    }
    
    .content1{
        margin-top: 6rem;
        background: rgba(196, 196, 196, 0.2);
        padding-bottom: 14rem;
    }
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 46px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .parent-title2{
        
        TEXT-ALIGN: center;
        font-size: 46px;
        
        margin-bottom: 5px;
        color: #fff;
    }
    .child-content1 img{
        width: 100%;
        height: 270px;
    }

    .container{
        
    
        margin: 0 auto;
        max-width: 1170px;
    }
    #son-content1{
        
        
        margin-top: 57px;
        

    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1 img {
        border: 5px solid;
        position: relative;
        padding: 4px;
    }
    .content2-picture2 img {
        border: 5px solid;
        position: relative;
        
        border-color: #fff;
    }
    .content1-picture1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .addToCart{
        position: absolute;
        top: 65%;
        color: #fff;
        background-color: #D5A770;
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        opacity: 0;
    }
    .content1-picture1:hover div.addToCart{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content2-picture2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .addToCart{
        position: absolute;
        top: 65%;
        color: #fff;
        background-color: #D5A770;
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        opacity: 0;
    }
    .content2-picture2:hover div.addToCart{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content-information1{
        display: flex;
        line-height: 14px;
        margin-top: 1rem;
        justify-content: space-between;
    }

    
    .name{
        font-size: 14px;
    }
    .size{
        font-size: 14px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 12px;
        color: #d5a770;
    }
    .price{
        font-size: 15px;
        color: #8c8c8c;
        
    }
    .name2{
        font-size: 14px;
        color: #fff;
    }
    .size2{
        font-size: 14px;
        color: rgba(255, 255, 255, 0.92);
    }
    
    .price2{
        font-size: 15px;
        color: #fff;
        
    }

    #parent-content2{
        margin-top: 50px;
    }
    
    .content2{
        background-color: #333;
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        top: 6rem;
    }
    #son-content2{
        
        
        margin-top: 57px;

    }


    .content5 {
        background-image: url(img/p69.jpg);
    }
    .father-content5{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content5 img{
        width: 100%;
    }
    .parent-content5{
        
        text-align: center;
    }
    
    .son1-content5{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content5{
        margin-top: 35px;
    }
    #input{
        width: 505px;
    
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
    }
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
}

@media only screen and (min-width: 768px) and (max-width:991px){
    /*Navbar*/
    .container-fluid{
        padding-right: 0px !important;
        padding-left: 0px !important;
        overflow: hidden;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        height: 110px;
        margin: 0 auto;
        padding: 0px !important;
    }
    #navbarNav{
        
        background-color: #333

    }

    .container-fluild  #navbarNav{
        background-color: #333 !important;
        width: 100%;
        
    }

    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }

    .navbar-brand{
        display: flex;
        
    }
    .navbar-toggler{
        background-color: #fff;
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
        
    }
    .logo{
        
        margin-top: 7px;
        max-width: 50px;
        height: 79px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 1.3rem;
    }
    .slogan1{
        font-size: 27px;
    }
    .slogan2{
        font-size: 17px;
    }
    
    .artistFace img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: top -231px;
        
    }
    .artistFace{
        margin-top: 11rem;
        text-align: center;
        line-height: 19px;
    }
    .parent-info{
        padding-bottom: 15rem;
    }
    .info1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #D5A770;
        margin-top: -325px;
        margin-left: 30px;

    }
    .info2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 73px;
        line-height: 86px;
        color: #FFFFFF;
        margin-top: 8px;
        margin-left: 30px;

    }
    .info3{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 8px;
        margin-left: 30px;
    }

    
    .content{
        
        margin-top: 6rem;
    }
    
    .certification{
        max-width: 100%;
        width: 286px;
        height: 228px;
        background: rgba(196, 196, 196, 0.19);
        
        padding: 20px;
        
    }
    .son1-certification{
        font-size: 20px;
        line-height: 23px;

        color: #D5A770;
    }
    .son2-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .son3-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        
    }
    
    
    .son2-describe{
        
        
        height: 275px;
        text-align: justify;
        margin-top: 20px;
        font-size: 20px;
    }
    .son1-describe{
        text-align: center;
        font-size: 26px;
        line-height: 36px;
        font-family: 'Lobster', cursive;


        color: #000000;
    }
    
    
    .father-title1{
        position: relative;
        top: 3rem;
        
    }
    .line1{
        width: 2px;
        height: 77px;
        background: #D5A770;
        margin: 0 auto;
    }
    
    .content1{
        margin-top: 16rem;
        background: rgba(196, 196, 196, 0.2);
        padding-bottom: 14rem;
    }
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 46px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .parent-title2{
        
        TEXT-ALIGN: center;
        font-size: 46px;
        
        margin-bottom: 5px;
        color: #fff;
    }
    .child-content1 img{
        width: 100%;
        height: 296px;
    }

    .container{
        
    
        margin: 0 auto;
        max-width: 1170px;
    }
    #son-content1{
        
        
        margin-top: 57px;
        

    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1 img {
        border: 5px solid;
        position: relative;
        padding: 4px;
    }
    .content2-picture2 img {
        border: 5px solid;
        position: relative;
        
        border-color: #fff;
    }
    .content1-picture1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .addToCart{
        position: absolute;
        top: 65%;
        color: #fff;
        background-color: #D5A770;
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        opacity: 0;
    }
    .content1-picture1:hover div.addToCart{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content2-picture2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .addToCart{
        position: absolute;
        top: 65%;
        color: #fff;
        background-color: #D5A770;
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        opacity: 0;
    }
    .content2-picture2:hover div.addToCart{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content-information1{
        display: flex;
        line-height: 14px;
        margin-top: 1rem;
        justify-content: space-between;
    }

    
    .name{
        font-size: 14px;
    }
    .size{
        font-size: 14px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 12px;
        color: #d5a770;
    }
    .price{
        font-size: 15px;
        color: #8c8c8c;
        
    }
    .name2{
        font-size: 14px;
        color: #fff;
    }
    .size2{
        font-size: 14px;
        color: rgba(255, 255, 255, 0.92);
    }
    
    .price2{
        font-size: 15px;
        color: #fff;
        
    }

    #parent-content2{
        margin-top: 50px;
    }
    
    .content2{
        background-color: #333;
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        top: 6rem;
    }
    #son-content2{
        
        
        margin-top: 57px;

    }


    /*sign-in*/
    .content5 {
        background-image: url(img/p69.jpg);
    }
    .father-content5{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content5 img{
        width: 100%;
    }
    .parent-content5{
        
        text-align: center;
    }
    
    .son1-content5{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content5{
        margin-top: 35px;
    }
    #input{
        width: 505px;
        margin: 0 auto;
        
    }
    .form-control{
        font-size: 14px;
    }
    /*footer*/
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
}

@media only screen and (min-width: 576px) and (max-width:767px){
    /*Navbar*/
    .container-fluid{
        padding-right: 0px !important;
        padding-left: 0px !important;
        overflow: hidden;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        height: 110px;
        margin: 0 auto;
        padding: 0px !important;
        
    }

    #navbarNav{
        
        background-color: #333

    }
    
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }

    .navbar-brand{
        display: flex;
        
    }
    .navbar-toggler{
        background-color: #fff;
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 35px;
        height: 60px;

        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 1.3rem;
    }
    .slogan1{
        font-size: 22px;
    }
    .slogan2{
        font-size: 15px;
    }
    /*carousel*/
    .artistFace img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        
        
    }
    .artistFace{
        margin-top: 11rem;
        text-align: center;
        line-height: 19px;
    }
    .parent-info{
        padding-bottom: 15rem;
    }
    .info1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #D5A770;
        margin-top: -325px;
        margin-left: 30px;

    }
    .info2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 73px;
        line-height: 86px;
        color: #FFFFFF;
        margin-top: 8px;
        margin-left: 30px;

    }
    .info3{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 8px;
        margin-left: 30px;
    }

    /*main*/
    .content{
        
        margin-top: 6rem;
    }
    
    .certification{
        width: 100%;
        max-width: 1150px;
        height: 163px;
        background: rgba(196, 196, 196, 0.19);
        
        padding: 20px;
        
        text-align: center;
    }
    .son1-certification{
        font-size: 20px;
        line-height: 23px;

        color: #D5A770;
    }
    .son2-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .son3-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        
    }
    
    .describe{
        margin-top: 7rem;
    }
    .son2-describe{
        
        
        height: 275px;
        text-align: justify;
        margin-top: 20px;
        font-size: 20px;
    }
    .son1-describe{
        text-align: center;
        font-size: 26px;
        line-height: 36px;
        font-family: 'Lobster', cursive;


        color: #000000;
    }
    
    
    .father-title1{
        position: relative;
        top: 3rem;
        
    }
    .line1{
        width: 2px;
        height: 77px;
        background: #D5A770;
        margin: 0 auto;
    }
    
    .content1{
        margin-top: 14rem;
        background: rgba(196, 196, 196, 0.2);
        padding-bottom: 14rem;
    }
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 46px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .parent-title2{
        
        TEXT-ALIGN: center;
        font-size: 46px;
        
        margin-bottom: 5px;
        color: #fff;
    }
    .child-content1 img{
        width: 100%;
        height: 296px;
    }

    .container{
        
    
        margin: 0 auto;
        max-width: 1170px;
    }
    #son-content1{
        
        
        margin-top: 57px;
        

    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1 img {
        border: 5px solid;
        position: relative;
        padding: 4px;
    }
    .content2-picture2 img {
        border: 5px solid;
        position: relative;
        
        border-color: #fff;
    }
    .content1-picture1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .addToCart{
        position: absolute;
        top: 65%;
        color: #fff;
        background-color: #D5A770;
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        opacity: 0;
    }
    .content1-picture1:hover div.addToCart{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content2-picture2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .addToCart{
        position: absolute;
        top: 65%;
        color: #fff;
        background-color: #D5A770;
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        opacity: 0;
    }
    .content2-picture2:hover div.addToCart{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content-information1{
        display: flex;
        line-height: 14px;
        margin-top: 1rem;
        justify-content: space-between;
    }

    
    .name{
        font-size: 14px;
    }
    .size{
        font-size: 14px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 12px;
        color: #d5a770;
    }
    .price{
        font-size: 15px;
        color: #8c8c8c;
        
    }
    .name2{
        font-size: 14px;
        color: #fff;
    }
    .size2{
        font-size: 14px;
        color: rgba(255, 255, 255, 0.92);
    }
    
    .price2{
        font-size: 15px;
        color: #fff;
        
    }

    #parent-content2{
        margin-top: 50px;
    }
    
    .content2{
        background-color: #333;
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        top: 6rem;
    }
    #son-content2{
        
        
        margin-top: 57px;

    }


    /*sign-in*/
    .content5 {
        background-image: url(img/p69.jpg);
    }
    .father-content5{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content5 img{
        width: 100%;
    }
    .parent-content5{
        
        text-align: center;
    }
    
    .son1-content5{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content5{
        margin-top: 35px;
    }
    #input{
        width: 505px;
    
        
        
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
    }
    /*footer*/
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
}

@media only screen and (min-width: 320px) and (max-width:575px){
    /*Navbar*/
    
    .container-fluid{
        padding-right: 0px !important;
        padding-left: 0px !important;
        overflow: hidden;
    }
    .navbar{
        background-color: #333 !important;
        max-width: 100%;
        height: 110px;
        margin: 0 auto;
        padding: 0px !important;
    }

    #navbarNav {
        
        background-color: #333

    }
    
    .nav-link{
        font-size: 19px;
        color: #fff !important;
    }

    .navbar-brand{
        display: flex;
        
    }
    .navbar-toggler{
        background-color: #fff;
    }
    .icon{
        margin-right: 2.5rem;
        color: #fff;
        font-size: 14px;
        display: none;
    }
    .logo{
        
        margin-top: 7px;
        max-width: 35px;
        height: 65px;
        margin-left: 1.5rem;
    }
    .slogan{
        padding-left: 1.3rem;
    }
    .slogan1{
        font-size: 25px;
    }
    .slogan2{
        font-size: 15px;
    }
    /*carousel*/
    .artistFace img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        
        
    }
    .artistFace{
        margin-top: 11rem;
        text-align: center;
        line-height: 19px;
    }
    .parent-info{
        padding-bottom: 15rem;
    }
    .info1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #D5A770;
        margin-top: -325px;
        margin-left: 30px;

    }
    .info2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 73px;
        line-height: 86px;
        color: #FFFFFF;
        margin-top: 8px;
        margin-left: 30px;

    }
    .info3{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 8px;
        margin-left: 30px;
    }

    /*main*/
    .content{
        
        margin-top: 6rem;
    }
    
    .certification{
        width: 100%;

        max-width: 1150px;
        height: 163px;
        background: rgba(196, 196, 196, 0.19);
        
        padding: 20px;
        
        text-align: center;
    }
    .son1-certification{
        font-size: 20px;
        line-height: 23px;

        color: #D5A770;
    }
    .son2-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .son3-certification{
                
        font-size: 19px;
        line-height: 23px;

        color: rgba(0, 0, 0, 0.69);
        
    }
    
    .describe{
        margin-top: 7rem;
        width: 100%;
    }
    .son2-describe{
        
        
        height: 275px;
        text-align: justify;
        margin-top: 20px;
        font-size: 20px;
    }
    .son1-describe{
        text-align: center;
        font-size: 26px;
        line-height: 36px;
        font-family: 'Lobster', cursive;


        color: #000000;
    }
    
    
    .father-title1{
        position: relative;
        top: 3rem;
        
    }
    .line1{
        width: 2px;
        height: 77px;
        background: #D5A770;
        margin: 0 auto;
    }
    
    .content1{
        margin-top: 38rem;
        background: rgba(196, 196, 196, 0.2);
        padding-bottom: 14rem;
    }
    .parent-title1{
        
        TEXT-ALIGN: center;
        font-size: 46px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .parent-title2{
        
        TEXT-ALIGN: center;
        font-size: 46px;
        
        margin-bottom: 5px;
        color: #fff;
    }
    .child-content1 img{
        width: 100%;
        height: 296px;
    }

    .container{
        
    
        margin: 0 auto;
        max-width: 350px;
    }
    #son-content1{
        
        
        margin-top: 57px;
        

    }
    #parent-content1{
        margin-top: 50px;
    }

    .content1-picture1 img {
        border: 5px solid;
        position: relative;
        padding: 4px;
    }
    .content2-picture2 img {
        border: 5px solid;
        position: relative;
        
        border-color: #fff;
    }
    .content1-picture1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .addToCart{
        position: absolute;
        top: 65%;
        color: #fff;
        background-color: #D5A770;
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        opacity: 0;
    }
    .content1-picture1:hover div.addToCart{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content2-picture2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .addToCart{
        position: absolute;
        top: 65%;
        color: #fff;
        background-color: #D5A770;
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        font-weight: 700;
        opacity: 0;
    }
    .content2-picture2:hover div.addToCart{
        opacity: 1;
        transition:ease-in-out 0.5s;
    }
    .content-information1{
        display: flex;
        line-height: 14px;
        margin-top: 1rem;
        justify-content: space-between;
    }

    
    .name{
        font-size: 14px;
    }
    .size{
        font-size: 14px;
        color: #8c8c8c;
    }
    .artist{
        font-size: 12px;
        color: #d5a770;
    }
    .price{
        font-size: 15px;
        color: #8c8c8c;
        
    }
    .name2{
        font-size: 14px;
        color: #fff;
    }
    .size2{
        font-size: 14px;
        color: rgba(255, 255, 255, 0.92);
    }
    
    .price2{
        font-size: 15px;
        color: #fff;
        
    }

    #parent-content2{
        margin-top: 50px;
    }
    
    .content2{
        background-color: #333;
        padding-bottom: 14rem;
    }
    .father-title2{
        position: relative;
        top: 6rem;
    }
    #son-content2{
        
        
        margin-top: 57px;

    }


    /*sign-in*/
    
    .content5 {
        background-image: url(img/p69.jpg);
    }
    .father-content5{
        padding-bottom: 100px;
        padding-top: 100px;
        line-height: 52px;
    }
    
    .content5 img{
        width: 100%;
    }
    .parent-content5{
        
        text-align: center;
    }
    
    .son1-content5{
        
        font-size: 32px;
        color: #fff;
    }
    .son2-content5{
        margin-top: 35px;
    }
    #input{
        width: 300px;
        margin: 0 auto;
    }
    .form-control{
        font-size: 14px;
    }
    /*footer*/
    
    footer{
        background-color: #464646;
        padding: 3rem 0 3rem 0;
        line-height: 2.5em;
    }
    .son-content4{
        line-height: 4.5rem;
    }
    .child1-content4{
        font-size: 22px;
        color: #fff;
    }
    .child2-content4{
        font-size: 14px;
        color: #919294;
    }
    .icon1{
        font-size: 22px;
        color: #919294;
    }
}